@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/elements/cfpb-button/vars' as *;

:host {
  // This prevents the child button from having an empty gap after the button.
  display: flex;
  width: fit-content;

  flex-direction: column;
}

:host::part(upload-details)[hidden='true'] {
  display: none;
}
