@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.m-btn-group {
  display: flex;
  gap: math.div(10px, $base-font-size-px) + rem;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
}
