/* ==========================================================================
   Design System
   Layout Styling
   ========================================================================== */
//
// Theme variables
//

// .block
$block-bg: var(--gray-5);
$block-border: var(--gray-40);
$block-border-top: $block-border;
$block-border-right: $block-border;
$block-border-bottom: $block-border;
$block-border-left: $block-border;

// .content__main
$content-main-border: $block-border;

// .content__line
$content-line: $block-border;
