@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

.o-email-signup {
  .m-notification {
    margin-bottom: math.div(math.div(legacy.$legacy-grid-gutter-width, 2), legacy.$legacy-base-font-size-px) +
      em;
  }

  .a-text-input {
    // Keep inputs in a wider layout to a reasonable width.
    // 370 = 4 columns at max grid width
    max-width: math.div(370px, legacy.$legacy-base-font-size-px) + rem;
  }

  &__buttons {
    display: flex;
    margin-top: math.div(math.div(legacy.$legacy-grid-gutter-width, 2), legacy.$legacy-base-font-size-px) +
      em;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: math.div(math.div(legacy.$legacy-grid-gutter-width, 2), legacy.$legacy-base-font-size-px) + em;
  }

  .a-btn {
    text-align: inherit;
  }

  // Mobile only.
  @include legacy.legacy-respond-to-max(legacy.$legacy-bp-xs-max) {
    .a-label--heading {
      font-size: 1em;
    }
  }
}
