@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

.o-featured-content-module {
  min-height: legacy.$legacy-fcm-min-height;
  position: relative;
  border: 1px solid var(--gray-40);
  background-color: var(--gray-5);

  &__text {
    padding-top: math.div(legacy.$legacy-grid-gutter-width, legacy.$legacy-base-font-size-px) + em;
    padding-bottom: math.div(legacy.$legacy-grid-gutter-width, legacy.$legacy-base-font-size-px) + em;
  }

  &__img {
    display: block;
  }

  // Mobile only.
  @include legacy.legacy-respond-to-max(legacy.$legacy-bp-xs-max) {
    &__text {
      padding-right: math.div(
          math.div(legacy.$legacy-grid-gutter-width, 2),
          legacy.$legacy-base-font-size-px
        ) + em;
      padding-left: math.div(
          math.div(legacy.$legacy-grid-gutter-width, 2),
          legacy.$legacy-base-font-size-px
        ) + em;
    }
    &__visual {
      padding-right: math.div(
          math.div(legacy.$legacy-grid-gutter-width, 2),
          legacy.$legacy-base-font-size-px
        ) + em;
      padding-bottom: math.div(
          math.div(legacy.$legacy-grid-gutter-width, 2),
          legacy.$legacy-base-font-size-px
        ) + em;
      padding-left: math.div(
          math.div(legacy.$legacy-grid-gutter-width, 2),
          legacy.$legacy-base-font-size-px
        ) + em;
    }
    &__img {
      margin-right: auto;
      margin-left: auto;
    }
  }

  // Tablet and above.
  @include legacy.legacy-respond-to-min(legacy.$legacy-bp-sm-min) {
    &__text {
      padding-right: legacy.$legacy-fcm-visual-width + legacy.$legacy-grid-gutter-width;
      padding-left: math.div(legacy.$legacy-grid-gutter-width, legacy.$legacy-base-font-size-px) + em;
    }
    &__visual {
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: legacy.$legacy-fcm-visual-width;
    }
    &__img {
      max-width: none;
      height: 100%;
      position: absolute; // Center alignment.
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
