@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.o-well {
  box-sizing: border-box;

  padding: math.div($grid-gutter-width, $base-font-size-px) + em
    math.div(math.div($grid-gutter-width, 2), $base-font-size-px) + em;
  border: 1px solid var(--gray-40);
  background-color: var(--gray-5);

  // Tablet and above.
  @include respond-to-min($bp-sm-min) {
    padding-left: math.div($grid-gutter-width, $base-font-size-px) + em;
    padding-right: math.div($grid-gutter-width, $base-font-size-px) + em;
  }
}
