@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

.o-well {
  box-sizing: border-box;

  padding: math.div(legacy.$legacy-grid-gutter-width, legacy.$legacy-base-font-size-px) + em
    math.div(math.div(legacy.$legacy-grid-gutter-width, 2), legacy.$legacy-base-font-size-px) + em;
  border: 1px solid var(--gray-40);
  background-color: var(--gray-5);

  // Tablet and above.
  @include legacy.legacy-respond-to-min(legacy.$legacy-bp-sm-min) {
    padding-left: math.div(legacy.$legacy-grid-gutter-width, legacy.$legacy-base-font-size-px) + em;
    padding-right: math.div(legacy.$legacy-grid-gutter-width, legacy.$legacy-base-font-size-px) + em;
  }
}
