@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

@mixin u-btn-divider() {
  content: '';
  border-left: 1px solid var(--icon-text-divider);
  place-self: normal;
}

:host {
  // Theme variables.
  --icon-text-divider-default: var(--pacific-60);
  --icon-text-divider-disabled: var(--gray-60);

  // Private variables.
  --icon-text-divider: var(--icon-text-divider-default);

  .wrapper {
    // This prevents the child button from having an empty gap after the button.
    display: flex;
    width: fit-content;
    align-items: center;

    gap: math.div(10px, $btn-font-size) + rem;
  }

  .left-divider::before,
  .right-divider::after {
    @include u-btn-divider;
  }

  // Shine the slot contents through to the wrapper's flexbox items.
  slot {
    display: contents;
  }
}

.left-divider ::slotted(svg:first-of-type) {
  order: -1;
}

.right-divider ::slotted(svg:last-of-type) {
  order: 1;
}

:host([disabled]) {
  --icon-text-divider: var(--icon-text-divider-disabled);
}

// Hide SVG if user calls hideIcon()
:host([icon-hidden]) ::slotted(svg) {
  display: none !important;
}
