@use 'sass:math';
@use '../abstracts/sizing-vars' as *;
@use '../cfpb-button/vars.css' as *;
// @use '@cfpb/cfpb-design-system/src/abstracts' as *;

@mixin u-btn-divider() {
  content: '';
  border-left: 1px solid var(--btn-divider);
  order: 2;
  place-self: normal;
}

:host {
  // Theme variables.
  // --btn-divider: var(--pacific-60);

  div {
    // This prevents the child button from having an empty gap after the button.
    display: flex;
    width: fit-content;
    align-items: center;

    // Hide SVG by default.
    & ::slotted(svg) {
      display: none;
    }

    &.u-has-icon {
      gap: math.div(10px, $btn-font-size) + rem;
      & slot::before {
        @include u-btn-divider;
      }

      // Show SVG.
      & ::slotted(svg) {
        display: initial;
      }
    }

    &.u-has-icon--left {
      & ::slotted(svg) {
        order: 1;
      }
      & ::slotted(span) {
        order: 3;
      }
    }

    &.u-has-icon--right {
      & ::slotted(svg) {
        order: 3;
      }
      & ::slotted(span) {
        order: 1;
      }
    }
  }
}

:host([disabled]) {
  --btn-disabled-divider: var(--gray-60);
}
