@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities/index' as *;

:host {
  // Theme variables.
  --icon-text-div-color-default: var(--pacific-60);
  --icon-text-div-color-disabled: var(--gray-60);

  // Private variables.
  --icon-text-div-color: var(--icon-text-div-color-default);

  .wrap {
    display: flex;
    align-items: center;

    gap: rem-from-px(5px);
  }

  .div {
    width: 1px;
    background: var(--icon-text-div-color);
    align-self: stretch;
  }

  // Shine the slot contents through to the wrap's flexbox items.
  slot {
    display: contents;
  }
}

// Display inline
:host([display-inline]) {
  .wrap {
    display: inline;
  }
}

// Hide divider.
:host(:not([has-div])) {
  .div {
    display: none;
  }
}

:host(:not([mobile-icon-align-end])) {
  .wrap {
    // This prevents the child button from having an empty gap after the button.
    width: fit-content;
  }
}

// Mobile only.
@include respond-to-max($bp-xs-max) {
  // Push the icon to the far right on mobile.
  :host([mobile-icon-align-end]) {
    .wrap {
      justify-content: right;
    }
    .text {
      width: 100%;
    }
  }

  // Show an underline at mobile.
  :host(:not([mobile-underline])) {
    .text {
      text-decoration: none !important;
    }
  }
}

:host([disabled]) {
  // !important is set so that disabled divider color overrides all other color.
  --icon-text-div-color: var(--icon-text-div-color-disabled) !important;
}

:host(:not([disabled])[style-as-link]) {
  .text {
    color: var(--link-text);

    text-decoration-color: var(--link-underline);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    text-underline-offset: 4.5px;

    // See https://github.com/cfpb/consumerfinance.gov/pull/8252
    overflow-wrap: break-word;
  }

  // Note: The class definitions below are only for use in
  // demonstrating link states. Do not use in production.

  :visited .text,
  .visited .text {
    text-decoration-color: var(--link-underline-visited);
    color: var(--link-text-visited);
  }

  :hover .text,
  .hover .text {
    text-decoration-style: solid;
    text-decoration-color: var(--link-underline-hover);
    color: var(--link-text-hover);
  }

  :focus .text,
  .focus-visible .text {
    outline: thin dotted;
    outline-offset: 1px;
  }

  :active .text,
  .active .text {
    text-decoration-style: solid;
    text-decoration-color: var(--link-underline-active);
    color: var(--link-text-active);
  }
}
