/* ==========================================================================
   Storybook Design System site shell
   ========================================================================== */

@use '../packages/cfpb-design-system/src/elements/abstracts' as *;
@use '../packages/cfpb-design-system/src/elements/base' as *;
@use '../packages/cfpb-design-system/dist/index.css' as *;

@use '../docs/assets/css/sidebar' as *;
@use '../docs/assets/css/skip-nav' as *;
@use '../docs/assets/css/global-eyebrow' as *;
@use '../docs/assets/css/layout' as *;
@use '../docs/assets/css/header' as *;
@use '../docs/assets/css/main-content' as *;
@use '../docs/assets/css/code' as *;
@use '../docs/assets/css/grid-demo' as *;
@use '../docs/assets/css/decap' as *;
@use '../docs/assets/css/tabs' as *;
@use '../docs/assets/css/toggle-code-button' as *;
@use '../docs/assets/css/variation' as *;
@use '../docs/assets/css/color-swatches' as *;
@use '../docs/assets/css/search' as *;

@include licensed-font('/design-system/fonts');

html,
body {
  height: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

details summary:focus {
  border: none;
  outline: 1px dotted var(--pacific);
  outline-offset: 2px;
}

details summary:hover {
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  position: relative;
}

details summary::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 10px;
  display: block;
  content: '';
  background-image: url('../docs/_includes/icons/down.svg?raw');
}

details[open] summary::after {
  background-image: url('../docs/_includes/icons/up.svg?raw');
}

.m-global-eyebrow .a-tagline,
.site-header,
.ds-footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;

  @include respond-to-max($bp-xs-max) {
    padding: 0;
  }
}

main {
  max-width: 1170px;
  margin: 30px auto;
  padding: 0 30px;
}

.main--storybook {
  .ds-content {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}

.ds-sidebar,
.ds-content {
  display: table-cell;
  vertical-align: top;
}

.ds-sidebar {
  width: 250px;
  padding-right: 30px;
  border-right: 1px solid var(--gray-40);
  padding-bottom: 30px;
}

.ds-content {
  padding-left: 30px;
  width: 75%;

  li,
  p {
    max-width: 41.875rem;
  }
}

.ds-footer {
  padding-bottom: 30px;

  &__content {
    max-width: 41.875rem;
  }

  a {
    border-bottom-width: 1px;
  }
}

@include respond-to-max($bp-xs-max) {
  main {
    padding: 0;
    margin-top: 0;
  }

  .ds-sidebar,
  .ds-content {
    display: block;
  }

  .ds-content {
    padding-left: 15px;
  }

  .ds-sidebar {
    width: auto;
    border-right: none;
    padding-right: 0;
  }

  .m-global-eyebrow,
  .ds-footer {
    padding: 0 15px;
  }
}
