@forward './sizing-tokens';
@use 'sass:math';
@use './sizing-tokens' as *;
@use './sizing-tokens-custom-props.css';

// Derived from tokenized sizing primitives.
$base-line-height: math.div($base-line-height-px, $base-font-size-px);

:root {
  /* Derived font-size-adjust values */
  --font-adjust-h1: calc(var(--font-adjust-base) + (5 * var(--font-adjust-step)));
  --font-adjust-h2: calc(var(--font-adjust-base) + (4 * var(--font-adjust-step)));
  --font-adjust-h3: calc(var(--font-adjust-base) + (3 * var(--font-adjust-step)));
  --font-adjust-h4: calc(var(--font-adjust-base) + (2 * var(--font-adjust-step)));
  --font-adjust-h5: calc(var(--font-adjust-base) + (1 * var(--font-adjust-step)));
  --font-adjust-h6: var(--font-adjust-base);
  --font-adjust-body: var(--font-adjust-base);
}
