@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

:host {
  .m-btn-group {
    display: flex;
    gap: math.div(15px, $base-font-size-px) + rem;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
  }
}
