@use '@cfpb/cfpb-design-system/src/elements/base' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/elements/cfpb-button/cfpb-button' as *;
@use '@cfpb/cfpb-design-system/src/elements/cfpb-button/cfpb-button-link' as *;

:host {
  // This prevents the child button from having an empty gap after the button.
  display: flex;
  width: fit-content;
}

:host([full-on-mobile]) {
  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    width: 100%;
  }
}

:host([flush-left]) {
  [role='button'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

:host([flush-right]) {
  [role='button'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
