@use '@cfpb/cfpb-design-system/src/base' as *;
@use '@cfpb/cfpb-design-system/src/abstracts/vars-breakpoints' as *;
@use '@cfpb/cfpb-design-system/src/abstracts/media-queries' as *;
@use 'cfpb-button' as *;
@use 'cfpb-button-link' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts/custom-props' as *;
@use '@cfpb/cfpb-design-system/src/elements/abstracts/vars' as *;
@use 'vars' as *;


:host {
  // This prevents the child button from having an empty gap after the button.
  display: flex;
  width: fit-content;
}

:host([full-on-mobile]) {
  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    width: 100%;
  }
}

:host([flush-left]) {
  [role='button'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

:host([flush-right]) {
  [role='button'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
