<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <!-- Google Tag Manager code -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-WH4L8LB');</script>
  <title>Updating this website - CFPB Design System</title>
  <meta name="description" content="CFPB's design system">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/design-system/pr-preview/pr-2512/dist/main.css">
  <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<body class="t-variation">
  <!-- Google Tag Manager code -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <div class="skip-nav">
    <a class="skip-nav__link" href="#main">
        Skip to main content
    </a>
  </div>
  <header role="banner" class="site-header-wrapper">

  <div class="m-global-eyebrow">
    <div class="a-tagline">
        <span class="u-usa-flag"></span>
        <div>
            An official website of the
            <span class="u-nowrap">United States government</span>
        </div>
    </div>
</div>


  <div class="site-header">

    <form id="search-form" action="/design-system/pr-preview/pr-2512/search" method="get">
    <cfpb-form-search id="search-box" form="search-form" name="searchQuery">
        <ul>
            <li><a href="/design-system/components/alerts">Alerts</a></li>
            <li><a href="/design-system/components/banner-notification">Banner (notification)</a></li>
            <li><a href="/design-system/components/banner-us-gov">Banner (US gov)</a></li>
            <li><a href="/design-system/components/buttons">Buttons</a></li>
            <li><a href="/design-system/components/checkboxes">Checkboxes</a></li>
            <li><a href="/design-system/components/date-picker">Date picker</a></li>
            <li><a href="/design-system/components/expandables">Expandables</a></li>
            <li><a href="/design-system/components/fieldsets">Fieldsets</a></li>
            <li><a href="/design-system/components/helper-text">Helper text</a></li>
            <li><a href="/design-system/components/labels-and-legends">Labels and legends</a></li>
            <li><a href="/design-system/components/links">Links</a></li>
            <li><a href="/design-system/components/lists">Lists</a></li>
            <li><a href="/design-system/components/pagination">Pagination</a></li>
            <li><a href="/design-system/components/radio-buttons">Radio buttons</a></li>
            <li><a href="/design-system/components/range-sliders">Range sliders</a></li>
            <li><a href="/design-system/components/selects">Selects</a></li>
            <li><a href="/design-system/components/summaries">Summaries</a></li>
            <li><a href="/design-system/components/tables">Tables</a></li>
            <li><a href="/design-system/components/tags">Tags</a></li>
            <li><a href="/design-system/components/taglines">Taglines</a></li>
            <li><a href="/design-system/components/text-inputs">Text inputs</a></li>
            <li><a href="/design-system/components/tooltips">Tooltips</a></li>
            <li><a href="/design-system/components/elements">Web Components</a></li>
        </ul>
    </cfpb-form-search>
</form>


    <h1 class="title">
      <a class="title-link" href="/design-system/pr-preview/pr-2512/">
        <span class="demi">CFPB</span> Design System
      </a>
    </h1>
  </div> <!-- /.wrapper -->
</header>


  <div
  id="redirect-banner"
  class="block block--flush-top block--flush-bottom block--padded-top u-hidden"
>
  <div class="m-global-banner">
    <div class="wrapper wrapper--match-content">
      <div class="m-notification m-notification--warning m-notification--visible">
        <svg xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg cf-icon-svg--warning-round" viewBox="0 0 17 20.4"><path d="M16.406 10.283a7.917 7.917 0 1 1-7.917-7.917 7.916 7.916 0 0 1 7.917 7.917zM9.48 14.367a1.003 1.003 0 1 0-1.004 1.003 1.003 1.003 0 0 0 1.004-1.003zM7.697 11.53a.792.792 0 0 0 1.583 0V5.262a.792.792 0 0 0-1.583 0z"/></svg>
        <div class="m-notification__content">
          <div class="m-notification__message">
            You’ve been redirected to this website from
            <span data-redirect="source-name"></span>.
          </div>
          <p class="m-notification__explanation">
            The website you were trying to visit has been deprecated.
            Future updates will happen here.
          </p>
          <p>
            A permanent snapshot of
            <span data-redirect="source-name"></span>
            is available at
            <a data-redirect="archive-website"></a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  
<main id="main" role="main">
  <aside class="ds-sidebar">

<details open class="ds-nav-container">

    <summary class="h4">Navigation</summary>

    <ul class="m-list m-list--links">
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pr-preview/pr-2512/foundation">Foundation</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pr-preview/pr-2512/components">Components</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pr-preview/pr-2512/patterns">Patterns</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pr-preview/pr-2512/pages">Pages</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pr-preview/pr-2512/development">Development</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pr-preview/pr-2512/guidelines">Guidelines</a>
                </div>

            
            </div>
        </li>
    
    </ul>

</details>

</aside>


  <div class="ds-content">
    <section>

    <h1 class="component-header u-mb30">
        Updating this website
    </h1>

    

    

    

    
    
        
        
        
    
        
        
        
    
        
        
        
    
        
        
        
    
        
        
        
    
        
        
        
    
        
        
        
    
    <ul class="m-list m-list--horizontal m-list--horizontal-spaced">
        
    </ul>
    

    
    <section id="description" class="u-mb30">
        <div id="notification"
     class="m-notification
            m-notification--warning"
     data-interstitial-notification>
    {% include icons/information-round.svg %}
    <div class="m-notification__content">
        <div class="m-notification__message">Before you edit <span data-interstitial-page-name>a page</span>, familiarize yourself with the process.</div>
        <p class="m-notification__explanation">
            When you're ready to start editing, continue to Decap CMS.
        </p>
    </div>
</div>
<div>&nbsp;</div>
<h2>Editing pages</h2>
<p><strong>Before making a change to a pattern or its documentation, visit Hubcap to read our Design System governance policy.</strong> It contains guidance and acceptance criteria for making minor and major changes to the Design System.</p>
<p>We use a content management system called <a href="https://decapcms.org/">Decap CMS</a>.<br>
It's powered by GitHub and will let you edit any page of this website.</p>
<div class="o-expandable-group o-expandable-group--accordion">
    <div class="o-expandable">
        <button class="o-expandable__header"
                title="Expand content">
            <h3 class="o-expandable__label">
                Step 1. Click a page's "Edit this page" pencil icon.
            </h3>
            <span class="o-expandable__cues">
                <span class="o-expandable__cue-open" role="img" aria-label="Show">
                    {% include icons/plus-round.svg %}
                </span>
                <span class="o-expandable__cue-close" role="img" aria-label="Hide">
                    {% include icons/minus-round.svg %}
                </span>
            </span>
        </button>
        <div class="o-expandable__content">
            <p>
                Go to the page you want to edit and click its "Edit this page" pencil icon.
            </p>
            <div class="o-well">
                <img src="/design-system/images/uploads/cms-demo1.gif" alt="Screenshot showing how to edit a Design System page" />
            </div>
        </div>
    </div>
    <div class="o-expandable">
        <button class="o-expandable__header"
                title="Expand content">
            <h3 class="o-expandable__label">
                Step 2. Log into the CMS
            </h3>
            <span class="o-expandable__cues">
                <span class="o-expandable__cue-open" role="img" aria-label="Show">
                    {% include icons/plus-round.svg %}
                </span>
                <span class="o-expandable__cue-close" role="img" aria-label="Hide">
                    {% include icons/minus-round.svg %}
                </span>
            </span>
        </button>
        <div class="o-expandable__content">
            <p>
                Log into the CMS by clicking the "Login with Github" button.
                You'll need a github.com account and you'll need to be added to <a href="https://github.com/orgs/cfpb/people">CFPB's GitHub organization</a>.
                If you're new to GitHub and need to be added to this organization,
                post a message in the <code>Design System</code> mattermost channel and someone will assist you.
            </p>
            <div class="o-well">
                <img src="/design-system/images/uploads/cms-demo2.gif" alt="Screenshot showing how to log into Decap CMS" />
            </div>
        </div>
    </div>
    <div class="o-expandable">
        <button class="o-expandable__header"
                title="Expand content">
            <h3 class="o-expandable__label">
                Step 3. Edit a page's content
            </h3>
            <span class="o-expandable__cues">
                <span class="o-expandable__cue-open" role="img" aria-label="Show">
                    {% include icons/plus-round.svg %}
                </span>
                <span class="o-expandable__cue-close" role="img" aria-label="Hide">
                    {% include icons/minus-round.svg %}
                </span>
            </span>
        </button>
        <div class="o-expandable__content">
            <p>
                Edit content in the left hand pane of the CMS. Preview your changes in the right hand pane. Check out our <a href="/design-system/sample-component-page">sample component page</a> for tips on how to structure a typical page.
            </p>
            <div class="o-well">
                <img src="/design-system/images/uploads/cms-demo3.gif" alt="Screenshot showing how to edit a page in Decap CMS" />
            </div>
        </div>
    </div>
    <div class="o-expandable">
        <button class="o-expandable__header"
                title="Expand content">
            <h3 class="o-expandable__label">
                Step 4. Save your changes
            </h3>
            <span class="o-expandable__cues">
                <span class="o-expandable__cue-open" role="img" aria-label="Show">
                    {% include icons/plus-round.svg %}
                </span>
                <span class="o-expandable__cue-close" role="img" aria-label="Hide">
                    {% include icons/minus-round.svg %}
                </span>
            </span>
        </button>
        <div class="o-expandable__content">
            <p>
                Click the blue 'Save' button in the top left to save your changes as a draft.
                Don't worry, the live site won't be affected.
                Decap CMS will build a temporary version of the website with your changes so that you can preview them.
                After you click the 'Save' button you can close the tab and come back to it later if you want, your temporary changes will persist.
            </p>
            <div class="o-well">
                <img src="/design-system/images/uploads/cms-demo4.gif" alt="Screenshot showing how to save changes in Decap CMS" />
            </div>
        </div>
    </div>
    <div class="o-expandable">
        <button class="o-expandable__header"
                title="Expand content">
            <h3 class="o-expandable__label">
                Step 5. Preview your changes
            </h3>
            <span class="o-expandable__cues">
                <span class="o-expandable__cue-open" role="img" aria-label="Show">
                    {% include icons/plus-round.svg %}
                </span>
                <span class="o-expandable__cue-close" role="img" aria-label="Hide">
                    {% include icons/minus-round.svg %}
                </span>
            </span>
        </button>
        <div class="o-expandable__content">
            <p>
                After you save some changes, Decap CMS will build a preview of the entire website with your new content.
                This takes a few minutes.
                When the preview is ready you’ll see a "View Preview" link at the top of the editing page.
                Feel free to share this link with your peers if you’d like feedback on your new page.
            </p>
            <div class="o-well">
                <img src="/design-system/images/uploads/cms-demo5.gif" alt="Screenshot showing how to preview Decap CMS changes" />
            </div>
        </div>
    </div>
    <div class="o-expandable">
        <button class="o-expandable__header"
                title="Expand content">
            <h3 class="o-expandable__label">
                Step 6. Publish your changes
            </h3>
            <span class="o-expandable__cues">
                <span class="o-expandable__cue-open" role="img" aria-label="Show">
                    {% include icons/plus-round.svg %}
                </span>
                <span class="o-expandable__cue-close" role="img" aria-label="Hide">
                    {% include icons/minus-round.svg %}
                </span>
            </span>
        </button>
        <div class="o-expandable__content">
            <p>
                When you are ready to publish your changes, set the page's status to "Ready".
                Then click the “Publish” drop down menu and choose "Publish now."
            </p>
            <p>
                Hooray!
                After you publish, our servers will re-deploy the live website and you'll see your changes in a few minutes at https://cfpb.github.io/design-system.
            </p>
            <div class="o-well">
                <img src="/design-system/images/uploads/cms-demo6.gif" alt="Screenshot showing how to publish Decap CMS changes" />
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div class="o-well u-hidden" data-interstitial-next-step>
    <h3>Ready to edit the <span data-interstitial-page-name></span> page?</h3>
<p><p><br>
<a href="/design-system/admin" class="a-btn" data-interstitial-redirect-button>Continue to Decap CMS</a><br>
</p></p>
</div>
<div>&nbsp;</div>
<h2>Creating new pages</h2>
<p><strong>Before adding a pattern to the Design System, visit Hubcap to read our Design System governance policy.</strong> It contains guidance and acceptance criteria for creating new patterns.</p>
<ol>
<li>To create a new page from scratch, click the &quot;Create new page&quot; button below.</li>
<li>After logging into the CMS, you'll be taken to a blank page in the CMS. Follow the &quot;Editing pages&quot; steps above to edit and preview your new page.</li>
<li>If you're unsure what sort of content you should add to a new Design System page, check out our <a href="/design-system/sample-component-page">sample component page</a>. Click its &quot;edit&quot; button to view the sample content laid out in the CMS.</li>
<li>If you'd like your new page to appear in the side navigation, see below.</li>
</ol>
<p>
      <a href="/design-system/admin/#/collections/pages/new" class="a-btn" title="Create a new page for this website in Decap CMS">Create new page</a>
</p>
<h2>Editing the side navigation menu</h2>
<ol>
<li>To add new pages to the side navigation, or to rearrange the order of existing pages in the navigation, click the &quot;Edit the side navigation&quot; button below.</li>
<li>After logging into the CMS, navigation sections and their pages can be added, edited and removed. You'll see a preview of the side navigation in the right-hand preview pane.</li>
</ol>
<p>
      <a href="/design-system/admin/#/collections/navigation/entries/side-navigation" class="a-btn" title="Edit the side navigation">Edit the side navigation</a>
</p>
<h2>Uploading images</h2>
<p>When editing a page, click the <code>+</code> icon to add an image. Select an image from the current library or upload a new image from your computer. Note: Due to a bug in Decap CMS, the image might not immediately appear in the preview pane.</p>
<p><img src="/design-system/images/uploads/uploading-cms-images.png" alt="Screenshot of image upload in
CMS" title="Screenshot of
image upload in CMS"></p>

    </section>
    

    

    

    
    
        <section class="sticky-header u-mb45">

            

            

            

            
        </section>
    

    

    

    

    
        <section class="content-l u-mb45">
            <div class="content-l__col content-l__col-1">
                <div>
                    <section>
                        <h2 id="latest-updates">Latest updates</h2>
                        <div class="content__line--wide content__line u-mb20"></div>
                        <strong>Page last edited:</strong>
                        
                        
                        
                            
                        
                        
                        <a href="https://github.com/cfpb/design-system/commits/main/docs/special-pages/">
                            <time datetime="">
                                
                            </time>
                        </a>
                    </section>
                </div>
            </div>
        </section>
    

    </div>

</section><!-- .content__main -->
 

    <div class="o-editor" id="edit-page">
      <a
        class="a-btn"
        href="/design-system/updating-this-website?page=Updating+this+website"
        title="Edit this page in Decap CMS"
      >
        <span>Edit page</span>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--edit" viewBox="0 0 15 19"><path d="M5.9 4.544 2.534 7.912 1.225 6.604a1.11 1.11 0 0 1 0-1.567l1.8-1.8a1.11 1.11 0 0 1 1.568 0zm7.926 11.565a.5.5 0 0 1-.099-.011l-3.419-.77a1.96 1.96 0 0 1-.77-.412v.001l-3.709-3.71-2.512-2.511 1.71-1.71 6.22 6.221-1.181 1.182a1.3 1.3 0 0 0 .406.213l1.508.339.95-.95-.34-1.508a1.3 1.3 0 0 0-.213-.405l-.345.345-6.222-6.22.874-.875L9.197 7.84l1.751 1.752 1.957 1.958a2 2 0 0 1 .412.77l.77 3.419c.05.22-.065.37-.26.37z"/></svg>
      </a>
    </div>
  </div>
</main>


  
  <footer class="ds-footer" role="contentinfo">

    <hr>

    <div class="block block--sub ds-footer__content">
        <p>
            We need your help keeping the Design System accurate and up-to-date!
            If you see something wrong or missing,
            <a href="/design-system/pr-preview/pr-2512/updating-this-website/#editing-pages">edit the page</a>.
            If you can’t make those changes yourself,
            <a href="https://github.com/cfpb/design-system/issues/new?assignees=&labels=content&template=content_issues.md&title=Updating this website%3A+Add+issue+description">file an issue</a>.
            If you have a substantial change to an existing page, or a new standard you want to add,
            <a href="/design-system/pr-preview/pr-2512/updating-this-website/#creating-new-pages">follow these guidelines</a>.
        </p>
    </div>

</footer>

  
  <script src="/design-system/pr-preview/pr-2512/dist/main.js" charset="utf-8"></script>

  
  <script>var PAGES_ALLOWED = {};</script>
  <script src="/design-system/pr-preview/pr-2512/dist/interstitial.js" charset="utf-8"></script>
  

</body>
</html>
