@use 'sass:math';
@use '../../abstracts/vars-breakpoints.scss' as *;
@use '../../abstracts/grid-mixins.scss' as *;
@use '../../abstracts/heading-mixins.scss' as *;
@use '../../abstracts/media-queries.scss' as *;
@use '../abstracts/sizing-vars' as *;
@use '../abstracts/custom-props.css' as *;
@use '../abstracts/vars.css' as *;
@use '../cfpb-button/vars.css' as *;
@use './vars.css' as *;

:host {
  button {
    // Filter tags appear in filtered contexts, often as part of multiselects.
    line-height: math.div(19px, $base-font-size-px);
    font-size: math.div(16px, $btn-font-size) + rem;

    display: flex;
    gap: math.div(10px, $btn-font-size) + rem;

    border: 1px solid var(--tag-filter-border);
    padding: 4px 6px;
    background-color: var(--tag-filter-bg);
    border-radius: math.div(3px, $base-font-size-px) + rem;
    color: var(--text);
    text-align: left;
    min-width: fit-content;

    &:hover {
      background-color: var(--tag-filter-bg-hover);
      cursor: pointer;
    }

    &:focus {
      outline: 1px dotted var(--tag-filter-outline-focus);
      outline-offset: 1px;
    }

    &:active {
      background-color: var(--tag-filter-bg-active);
    }
  }

  svg {
    pointer-events: none;

    // Prevent flexbox from squishing icon when tag text is long.
    flex: none;

    height: math.div(19px, $btn-font-size) + rem;
  }

  // If the contents are wrapped in a label, negate the label's display.
  label {
    display: contents;
    pointer-events: none;
  }
}
