.o-email-signup {
  .m-notification {
    margin-bottom: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
  }

  .a-text-input {
    // Keep inputs in a wider layout to a reasonable width.
    // 370 = 4 columns at max grid width
    max-width: unit((370px / @base-font-size-px), rem);
  }

  &_buttons {
    display: flex;
    margin-top: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
  }

  .respond-to-max( @bp-xs-max, {
    .a-label__heading {
      font-size: 1em;
    }
  } );
}
