/* ==========================================================================
   Design System
   Pagination Styling
   ========================================================================== */

//
// Theme variables
//

// Color variables

$pagination-text: var(--gray);
$pagination-bg: var(--gray-5);

// Sizing variables

$pagination-btn-min-width-px: 130px;
