@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/components/cfpb-icons/icon';

:host {
  ::slotted(cfpb-list-item) {
    position: relative;
    margin-top: 1px;

    &:before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
    }

    &:before {
      top: -1px;
      border-top: 1px solid var(--gray-20);
    }

    &::after {
      bottom: -1px;
      border-bottom: 1px solid var(--gray-20);
    }
  }

  :focus {
    outline: 1px dotted var(--pacific);
    outline-offset: 2px;
  }
}
