@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities/index' as *;

:host {
  --cfpb-list-column-gap: 10;
  --cfpb-list-row-gap: 10;
}

:host([gap='compact']) {
  ul {
    // Tablet and above.
    @include respond-to-min($bp-sm-min) {
      --cfpb-list-column-gap: 5;
    }
  }
}

:host([gap='wide']) {
  ul {
    // Tablet and above.
    @include respond-to-min($bp-sm-min) {
      --cfpb-list-column-gap: 30;
    }
  }
}

:host([break-at]) {
  // Tablet and above.
  @include respond-to-min($bp-sm-min) {
    ul {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-flow: column;
      column-gap: 60px;
      row-gap: rem-from-px(var(--cfpb-list-column-gap), 16);

      // Masonry layouts are still an experimental technology.
      grid-template-rows: masonry;

      // We likely can replace this divider code with column-rule in the future,
      // but that's not yet supported in Firefox for grid layouts.
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(66.666% - 10px);
        width: 1px;
        background: var(--gray-40);
        transform: translateX(-50%);
      }
    }
  }
}

:host(:not([break-at])) {
  ul {
    display: flex;
    column-gap: rem-from-px(var(--cfpb-list-column-gap), 16);
    row-gap: rem-from-px(var(--cfpb-list-row-gap), 16);
    flex-wrap: wrap;
    flex-direction: column;

    // Increase gap if the list item is a filter tag.
    &:has(cfpb-tag-filter) {
      --cfpb-list-column-gap: 15;
    }

    // Remove gap if list item is a standard (jump) link.
    &:has(cfpb-tag-topic),
    &:has(cfpb-link:not([inline])) {
      // Mobile only.
      @include respond-to-max($bp-xs-max) {
        --cfpb-list-row-gap: 0;
      }
    }

    li {
      display: contents;
      margin-bottom: 0;
    }
  }
}

:host([horizontal]) {
  ul {
    flex-direction: row;
    width: fit-content;

    &:has(cfpb-link:not([inline])) {
      // Mobile only.
      @include respond-to-max($bp-xs-max) {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}

// Tag group sets the spacing between tags.
ul {
  margin: 0;

  // Remove list ul bullets styles.
  padding-left: 0;
  list-style-type: none;
}

// Right-to-left (RTL) adjustments for arabic pages.
html[lang='ar'] {
  direction: rtl;

  // This is needed for right-to-left (RTL) lists.
  padding-right: 0;
}
