@use 'sass:math';
@use './mixins' as *;

.a-link {
  border-bottom-width: 0;

  .a-link__text {
    border-bottom-width: 1px;
    border-bottom-style: inherit;
  }
}

//
// Jump link
//
@include u-jump-link('a-link--jump', 'a-link__text');
@include u-jump-link-group('a-link--jump');
