@use 'sass:math';
@use './mixins' as *;

.a-link {
  border-bottom-width: 0;
  text-decoration-line: none;

  .a-link__text {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;

    // See https://github.com/cfpb/consumerfinance.gov/pull/8252
    overflow-wrap: break-word;
  }

  &:hover {
    .a-link__text {
      text-decoration-style: solid;
    }
  }
}

//
// Jump link
//
@include u-jump-link('a-link--jump', 'a-link__text');
@include u-jump-link-group('a-link--jump');
