@use 'sass:math';
@use './mixins' as *;

.a-link {
  border-bottom-width: 0;

  .a-link__text {
    border-bottom-width: 1px;
    border-bottom-style: inherit;
  }
}

//
// Jump link
//

.a-link--jump {
  @include u-jump-link;
}
@include u-jump-link-group;
