@use './vars' as *;
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

.m-pull-quote {
  &__body {
    color: $pull-quote-body;

    @include legacy.legacy-heading-3(
      $has-margin-bottom: false,
      $has-margin-top: false,
      $is-responsive: true
    );
  }

  &__citation {
    color: $pull-quote-citation;

    @include legacy.legacy-heading-5;

    &::before {
      // An em dash before the cited author name.
      content: '\2014 ';
    }
  }
}
