@use './vars' as *;
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.m-pull-quote {
  &__body {
    @include heading-3;

    color: $pull-quote-body;

    // Mobile only.
    @include respond-to-max($bp-xs-max) {
      @include heading-4;
    }
  }

  &__citation {
    @include heading-5;

    color: $pull-quote-citation;

    &::before {
      // An em dash before the cited author name.
      content: '\2014 ';
    }
  }
}
