@use 'sass:math';
@use './vars.scss' as *;
@use '../../abstracts' as *;
@use '../../abstracts' as *;

.m-slug-header {
  border-top: 1px solid $slug-header-border-thin;

  &__heading {
    @include heading-5;

    $font-size: $size-v;

    display: inline-block;
    padding-top: math.div(4px, $font-size) + em;
    border-top: 5px solid $slug-header-border-thick;
    margin-top: -3px;
  }
}
