@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.a-tagline {
  font-size: math.div(12px, $base-font-size-px) + rem;

  display: grid;
  grid-template-columns: 22px 1fr;
  grid-column-gap: 10px;

  &__text {
    // Needed for browsers with legacy/no grid support (e.g. IE11).
    display: inline-block;
  }

  & .u-usa-flag {
    margin-top: 1px;
  }

  &--large {
    font-size: math.div(16px, $base-font-size-px) + rem;

    & .u-usa-flag {
      margin-top: 4px;
    }
  }
}

// Standard flag size.
.u-usa-flag {
  display: inline-block;
  width: 24px;
  height: 13px;

  // 48px x 25px USA flag image.
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAZCAMAAABAf11LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5QTFRF////sxlC7MbQ2YyhxlNxCjFhR2WJV3GSKUt1dYumOFh/GT5rhZiwwszYsr/OlKW6Zn6c0djh8PL1iR9Ko7LE4OXrl0pttKC0pXWRtYKbSuJhRQAAANFJREFUeNrkkctuwyAUREnSuW/ApHYf//+jBVdZVcJi3aORgAXcMyLBAAJEzsVG3m8TkifyI3zfPQ6nJJLo421CArSBmkgjNEWtQE4zXJmClXuCWIlU5hdQxCqbqnE1KdIz79CVDvBwZxyKfQfmHTyzl01UZSvOWSTbhZLSWeDMufWLC/1ls3amT4qQq394EjIjApxBT+/nr8eEBNuKcB9SWMpmEXalNOylmlUZNTr4vE/4VdKhpC+leQf6y/e0wzL3RdJtkfUJyzwW+ZcdfgQYAJmJD3zerW6OAAAAAElFTkSuQmCC');
  background-size: contain;
  background-repeat: no-repeat;
}
