/* ==========================================================================
   Design System
   Advanced Typography
   ========================================================================== */

// Running text elements

// .a-date
$date: var(--gray);

// .m-pull-quote
$pull-quote-body: var(--black);
$pull-quote-citation: var(--gray);

// Headers

// .m-slug-header
$slug-header-border-thin: var(--gray-40);
$slug-header-border-thick: var(--green);
