<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager code -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WH4L8LB');
    </script>
    <title>Fallback strategies - CFPB Design System</title>
    <meta name="description" content="CFPB's design system">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/design-system/dist/index.css">
    <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(
        /(^|\s)no-js(\s|$)/,
        '$1$2',
      );
    </script>
  </head>
  <body class="t-variation">
    <!-- Google Tag Manager code -->
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display: none; visibility: hidden"></iframe>

    <div class="skip-nav">
      <cfpb-button href="#main" class="skip-nav__link">
        Skip to main content
      </cfpb-button>
    </div>

    <header role="banner" class="site-header-wrapper">

  <div class="m-global-eyebrow">
    <div class="m-global-eyebrow__container"><cfpb-tagline></cfpb-tagline></div>
</div>


  <div class="site-header">

    <form id="search-form" action="/design-system/search" method="get">
    <cfpb-form-search id="search-box" form="search-form" name="searchQuery">
        <ul hidden>
            <li><a href="/design-system/components/alerts">Alerts</a></li>
            <li><a href="/design-system/components/banner-notification">Banner (notification)</a></li>
            <li><a href="/design-system/components/banner-us-gov">Banner (US gov)</a></li>
            <li><a href="/design-system/components/buttons">Buttons</a></li>
            <li><a href="/design-system/components/checkboxes">Checkboxes</a></li>
            <li><a href="/design-system/components/date-picker">Date picker</a></li>
            <li><a href="/design-system/components/expandables">Expandables</a></li>
            <li><a href="/design-system/components/fieldsets">Fieldsets</a></li>
            <li><a href="/design-system/components/helper-text">Helper text</a></li>
            <li><a href="/design-system/components/labels-and-legends">Labels and legends</a></li>
            <li><a href="/design-system/components/links">Links</a></li>
            <li><a href="/design-system/components/lists">Lists</a></li>
            <li><a href="/design-system/components/pagination">Pagination</a></li>
            <li><a href="/design-system/components/radio-buttons">Radio buttons</a></li>
            <li><a href="/design-system/components/range-sliders">Range sliders</a></li>
            <li><a href="/design-system/components/selects">Selects</a></li>
            <li><a href="/design-system/components/summaries">Summaries</a></li>
            <li><a href="/design-system/components/tables">Tables</a></li>
            <li><a href="/design-system/components/tags">Tags</a></li>
            <li><a href="/design-system/components/taglines">Taglines</a></li>
            <li><a href="/design-system/components/text-inputs">Text inputs</a></li>
            <li><a href="/design-system/components/tooltips">Tooltips</a></li>
            <li><a href="/design-system/components/elements">Web Components</a></li>
        </ul>
    </cfpb-form-search>
</form>


    <h1 class="title">
      <a class="title-link" href="/design-system/">
        <span class="demi">CFPB</span> Design System
      </a>
    </h1>
  </div> <!-- /.wrapper -->
</header>
 <div id="redirect-banner" class="block block--flush-top block--flush-bottom block--padded-top u-hidden">
  <div class="m-global-banner">
    <div class="wrapper wrapper--match-content">
      <div class="m-notification m-notification--warning m-notification--visible">
        <svg xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg cf-icon-svg--warning-round" viewbox="0 0 17 20.4"><path d="M16.406 10.283a7.917 7.917 0 1 1-7.917-7.917 7.916 7.916 0 0 1 7.917 7.917zM9.48 14.367a1.003 1.003 0 1 0-1.004 1.003 1.003 1.003 0 0 0 1.004-1.003zM7.697 11.53a.792.792 0 0 0 1.583 0V5.262a.792.792 0 0 0-1.583 0z"></path></svg>
        <div class="m-notification__content">
          <div class="m-notification__message">
            You’ve been redirected to this website from
            <span data-redirect="source-name"></span>.
          </div>
          <p class="m-notification__explanation">
            The website you were trying to visit has been deprecated.
            Future updates will happen here.
          </p>
          <p>
            A permanent snapshot of
            <span data-redirect="source-name"></span>
            is available at
            <a data-redirect="archive-website"></a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> <main id="main" role="main">
  <aside class="ds-sidebar">

<details open class="ds-nav-container">

    <summary class="h4">Navigation</summary>

    <ul class="m-list m-list--links">
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/foundation">Foundation</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/components">Components</a>
                </div>

            
                
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Components</div>
                        
                        <ul class="m-list m-list--links">
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/alerts">Alerts</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/banner-notification">Banner (notification)</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/banner-us-gov">Banner (US gov)</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/buttons">Buttons</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/checkboxes">Checkboxes</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/date-picker">Date picker</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/expandables">Expandables</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/fieldsets">Fieldsets</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/helper-text">Helper text</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/labels-and-legends">Labels and legends</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/links">Links</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/lists">Lists</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/pagination">Pagination</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/radio-buttons">Radio buttons</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/range-sliders">Range sliders</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/selects">Selects</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/summaries">Summaries</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/tables">Tables</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/tags">Tags</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/taglines-legacy">Taglines (legacy)</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/text-inputs">Text inputs</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/tooltips">Tooltips</a>
                            </li>
                        
                        </ul>
                    
                    
                </div>
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Web Components (beta)</div>
                        
                        <ul class="m-list m-list--links">
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/taglines">Taglines</a>
                            </li>
                        
                        </ul>
                    
                    
                    <div class="ds-nav ds-nav-3">
                        <div class="h6">Developer guidelines</div>
                        <ul class="m-list m-list--links">
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/reference-for-custom-elements">Reference for custom elements</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/fallback-strategies">Fallback strategies</a>
                            </li>
                        
                        </ul>
                    </div>
                    
                </div>
                
            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/patterns">Patterns</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pages">Pages</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/development">Development</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/guidelines">Guidelines</a>
                </div>

            
            </div>
        </li>
    
    </ul>

</details>

</aside>


  <div class="ds-content">
    <section>
      <div class="h5">
        Web Components
      </div>
    

    <h1 class="component-header u-mb30">
        Fallback strategies
    </h1>

    

    

    

    
    
    <ul class="m-list m-list--horizontal m-list--horizontal-spaced">
        
    </ul>
    

    
    <section id="description" class="u-mb30">
        <p>In order to recognize custom HTML markup, a web browser requires JavaScript to initialize custom elements (Web Components). If a browser does not support modern web component APIs, or has JavaScript turned off, the web component markup will not render as expected.</p>

<p>This document provides an architectural framework for consistently handling fallback behavior across web components.  It aims to provide a fallback strategy that gives the author control over the fallback. If, for example, the component was run within a react environment and the author assumes JavaScript is enabled, the component will not  need a fallback.</p>

<p>This document addresses handling the following states:</p>

<ul>
  <li>
<strong>JS disabled</strong> (de facto no web component support)</li>
  <li>
<strong>JS enabled + no web component support</strong> (legacy browsers)</li>
  <li>
<strong>JS enabled + web component support</strong> (modern browsers)</li>
</ul>

<p>Authors should decide on a component-by-component basis which of the first two fallback states they want to support, based on things like the environment the component appears in (React already assumes JS support), and the expected browser metrics of the visitors that the application is aiming to support.</p>

<h2 id="the-basic-web-component---no-fallback">The basic web component - no fallback</h2>

<p>At its most basic, a web component is a custom HTML opening and closing tag, like:</p>

<p><code class="language-plaintext highlighter-rouge">&lt;my-custom-btn&gt;&lt;/my-custom-btn&gt;</code></p>

<p>All the rendered content of this component is present in the component’s shadow DOM, and the structure is defined  in the component’s <code class="language-plaintext highlighter-rouge">.js</code> definition file.
In modern browsers with web component support, this component will render whatever appears in the shadow DOM. In legacy browsers or with JavaScript disabled, this will be completely blank on the page.</p>

<h2 id="slotted-content">Slotted content</h2>

<p>A web component can wrap author-supplied content, which is exposed through a <code class="language-plaintext highlighter-rouge">&lt;slot&gt;</code> element in the component’s definition file. Slotted content is added between the opening and closing tags:</p>

<p><code class="language-plaintext highlighter-rouge">&lt;my-custom-btn&gt;Click this fancy button!&lt;/my-custom-btn&gt;</code></p>

<p>In modern browsers with web component support, this component will incorporate the slotted content within the shadow DOM content and render the component. In legacy browsers, or with JavaScript disabled, the slotted content will appear on the page without any other content from the shadow DOM, thus functioning as a textual fallback.</p>

<h2 id="dealing-with-the-dreaded-flash-of-unstyled-content-fouc">Dealing with the dreaded Flash Of Unstyled Content (FOUC)</h2>

<p>One potential problem with slotted content is that it may briefly appear on the page before the web component markup is initialized, leading to an unsightly flash of unstyled content (FOUC). This may be acceptable if the slotted content is roughly the same dimensions as the initialized component. However, if the slotted content spills outside of the component boundaries (e.g. through absolute positioning), this might cause an unsightly flash. In this situation it may be best to add a standard <code class="language-plaintext highlighter-rouge">hidden</code> attribute to the slotted content, and then deal with its visibility within the component CSS/JS.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;my-fancy-list&gt;</span>
  <span class="nt">&lt;ul</span> <span class="na">hidden</span><span class="nt">&gt;</span>
   <span class="nt">&lt;li&gt;</span>Earth<span class="nt">&lt;/li&gt;</span>
   <span class="nt">&lt;li&gt;</span>Moon<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;/ul&gt;</span>
<span class="nt">&lt;/my-fancy-list&gt;</span>
</code></pre></div></div>

<p>However, note that this’ll negate using the slotted content as a fallback.</p>

<h3 id="adding-a-loading-skeleton">Adding a loading skeleton</h3>

<p>A “loading skeleton” is a wireframe-esque box that loads in before a web component has been initialized.  This can be used to avoid a FOUC and corresponding layout shift when the component is rendered. To add a loading skeleton for a particular component, follow these steps:</p>

<ol>
  <li>Add a <code class="language-plaintext highlighter-rouge">skeleton.css</code> file to the component directory.</li>
  <li>Add in the expected component width within a <code class="language-plaintext highlighter-rouge">&lt;component name&gt;:not(:defined) { … }</code> CSS rule.</li>
  <li>And any media queries if the layout dimenions change across screen sizes.</li>
  <li>Add an <code class="language-plaintext highlighter-rouge">@use</code> import for the components <code class="language-plaintext highlighter-rouge">skeleton.css</code> file to the <code class="language-plaintext highlighter-rouge">/elements/base/base.scss</code> file.</li>
</ol>

<h2 id="fallback-content">Fallback content</h2>

<p>While slotted content may often suffice as a fallback, for more complex components, slotted content may be too simple as an adequate replacement. We could add more markup and structure to the slotted content, but that creates clutter that needs to be handled within the shadow DOM. Because of this, slotted content is likely best for simple text strings only.</p>

<p>A better approach for complex fallback content may be to provide content in a <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> element within the slotted content, and then enable or disable the slotted content based on the state of web component and JavaScript support. 
For example, the following structure include a fallback written in a <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> (note the additional <code class="language-plaintext highlighter-rouge">&lt;button&gt;</code> markup for the fallback), and slotted content:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;my-custom-btn&gt;</span>
  <span class="c">&lt;!-- author-supplied no-js fallback --&gt;</span>
  <span class="nt">&lt;noscript&gt;</span>
    <span class="nt">&lt;button&gt;</span>Click this basic button!<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/noscript&gt;</span>

  <span class="c">&lt;!-- author-supplied slotted content --&gt;</span>
  Click this fancy button!
<span class="nt">&lt;/my-custom-btn&gt;</span> 
</code></pre></div></div>

<p>The following sections describe how this structure functions in the different fallback states:</p>

<h3 id="js-disabled">JS disabled</h3>

<p>When JS is disabled, the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> content is rendered AND the author supplied slotted content is rendered. So it looks like this:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;button&gt;</span>Click this basic button!<span class="nt">&lt;/button&gt;</span> Click this fancy button! 
</code></pre></div></div>

<p>This displays both pieces of content, which is not what we want. We only want to display the basic fallback button. To fix this, we can provide CSS that hides everything except the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> tag:</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c">/* This won't work for all web components! */</span> 
<span class="nt">my-custom-btn</span> <span class="o">&gt;</span> <span class="nd">:not</span><span class="o">(</span><span class="nt">noscript</span><span class="o">)</span> <span class="p">{</span> <span class="nl">display</span><span class="p">:</span> <span class="nb">none</span><span class="p">;</span> <span class="p">}</span> 
</code></pre></div></div>

<p>However, this targets a specific web component markup tag. Unfortunately, we can’t generically target all web components in CSS. To make this more generic, we could have the author add a <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> tag to the component’s slotted content, and, if they want to hide other content in the component, add a boolean attribute to the markup named <code class="language-plaintext highlighter-rouge">hasfallback</code>. Then we can replace the specific web component tag with a generic CSS attribute selector:</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="o">[</span><span class="nt">hasfallback</span><span class="o">]</span> <span class="o">&gt;</span> <span class="nd">:not</span><span class="o">(</span><span class="nt">noscript</span><span class="o">)</span> <span class="p">{</span> <span class="nl">display</span><span class="p">:</span> <span class="nb">none</span><span class="p">;</span> <span class="p">}</span> 
</code></pre></div></div>

<p>Our earlier example then becames:</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;my-custom-btn</span> <span class="na">hasfallback</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- author-supplied no-js fallback --&gt;</span>
  <span class="nt">&lt;noscript&gt;</span>
    <span class="nt">&lt;button&gt;</span>Click this basic button!<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/noscript&gt;</span>

  <span class="c">&lt;!-- author-supplied slotted content --&gt;</span>
  Click this fancy button!
<span class="nt">&lt;/my-custom-btn&gt;</span> 
</code></pre></div></div>

<blockquote>
  <p>CSS for this use-case can be found in <a href="https://github.com/cfpb/design-system/blob/main/packages/cfpb-design-system/src/elements/utilities/fallback/wc-fallback.css"><code class="language-plaintext highlighter-rouge">utilities/fallback/wc-fallback.css</code></a>, and can be included in a project’s CSS bundle so that it is available for use.</p>
</blockquote>

<h3 id="js-enabled-web-components-not-supported">JS enabled, web components not supported</h3>

<p>In the case where JavaScript is available—but web component APIs are not (as is the case in legacy browsers)—we can globally check if web components are supported, and if not, we can load a polyfill, or we could just let it fall back to the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> content. <em>However</em>, the problem here is that if JS is enabled, but web components are not supported, then the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> content will not show! Therefore, we need to use JavaScript to turn the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> tag inside the web component into <code class="language-plaintext highlighter-rouge">&lt;div class="fallback"&gt;</code>.</p>

<blockquote>
  <p>A JS utility for this use-case can be found in <a href="https://github.com/cfpb/design-system/blob/main/packages/cfpb-design-system/src/elements/utilities/fallback/wc-fallback.js"><code class="language-plaintext highlighter-rouge">utilities/fallback/wc-fallback.js</code></a>. It can be included in a project’s JS bundle so that it is available for use globally.</p>
</blockquote>

<p>Changing the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> tag to a <code class="language-plaintext highlighter-rouge">&lt;div&gt;</code> would now show the content inside the former <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code>, <em>except</em> non-noscript tags are hidden via the CSS! So, lastly, we need to add more CSS to show the div with the <code class="language-plaintext highlighter-rouge">.fallback</code> class:</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="o">[</span><span class="nt">hasfallback</span><span class="o">]</span> <span class="o">&gt;</span> <span class="nc">.fallback</span> <span class="p">{</span> <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span> <span class="p">}</span> 
</code></pre></div></div>

<blockquote>
  <p>CSS for this use-case can be found in <a href="https://github.com/cfpb/design-system/blob/main/packages/cfpb-design-system/src/elements/utilities/fallback/wc-fallback.css"><code class="language-plaintext highlighter-rouge">utilities/fallback/wc-fallback.css</code></a>, and can be included in a project’s CSS bundle so that it is available for use.</p>
</blockquote>

<h3 id="js-enabled-web-components-are-supported">JS enabled, web components are supported</h3>

<p>If JS is enabled, the web component uses the author-supplied slotted content to render, and the <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> content is hidden and it is not swapped with <code class="language-plaintext highlighter-rouge">&lt;div class="fallback"&gt;</code>. However, because of the existing CSS that hides everything but the <code class="language-plaintext highlighter-rouge">noscript</code> content, that means everything will be hidden! So in this case, we add another CSS rule:</p>

<div class="language-css highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="o">[</span><span class="nt">hasfallback</span><span class="o">]</span><span class="nd">:defined</span> <span class="o">&gt;</span> <span class="nd">:not</span><span class="o">(</span><span class="nt">noscript</span><span class="o">)</span> <span class="p">{</span> <span class="nl">display</span><span class="p">:</span> <span class="nb">block</span><span class="p">;</span> <span class="p">}</span> 
</code></pre></div></div>

<blockquote>
  <p>CSS for this use-case can be found in <a href="https://github.com/cfpb/design-system/blob/main/packages/cfpb-design-system/src/elements/utilities/fallback/wc-fallback.css"><code class="language-plaintext highlighter-rouge">utilities/fallback/wc-fallback.css</code></a>, and can be included in a project’s CSS bundle so that it is available for use.</p>
</blockquote>

<h2 id="summary">Summary</h2>

<table>
  <thead>
    <tr>
      <th> </th>
      <th>JS enabled</th>
      <th>JS disabled</th>
      <th>Handle FOUC</th>
      <th>Handle layout shift</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>WC APIs supported</strong></td>
      <td>No fallback needed. Do not provide <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> or <code class="language-plaintext highlighter-rouge">hasfallback</code> attribute. E.g. WC is used in a React app.</td>
      <td>Provide <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> content and <code class="language-plaintext highlighter-rouge">hasfallback</code> attribute on the WC tag and include <code class="language-plaintext highlighter-rouge">wc-fallback.css</code> in the CSS bundle.</td>
      <td>Consider adding <code class="language-plaintext highlighter-rouge">hidden</code> attribute to slotted content, if content exceeds component bounds.</td>
      <td>Provide <code class="language-plaintext highlighter-rouge">skeleton.css</code> file for the component that targets <code class="language-plaintext highlighter-rouge">:defined</code> selector.</td>
    </tr>
    <tr>
      <td><strong>WC APIs unsupported</strong></td>
      <td>Use a WC API polyfill, OR provide <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> tag in slotted content and add <code class="language-plaintext highlighter-rouge">hasfallback</code> attribute to WC tag, and include <code class="language-plaintext highlighter-rouge">wc-fallback.js</code> in the JS bundle.</td>
      <td>Provide <code class="language-plaintext highlighter-rouge">&lt;noscript&gt;</code> content and <code class="language-plaintext highlighter-rouge">hasfallback</code> attribute on the WC tag and include <code class="language-plaintext highlighter-rouge">wc-fallback.css</code> in the CSS bundle.</td>
      <td>Style fallback content as needed.</td>
      <td>Style fallback content as needed.</td>
    </tr>
  </tbody>
</table>

<p><strong>JS = JavaScript</strong></p>

<p><strong>WC = Web Component APIs</strong></p>

    </section>
    

    

    

    
    
        <section class="sticky-header u-mb45">

            

            

            

            
        </section>
    

    

    

    

    
        <section class="content-l u-mb45">
            <div class="content-l__col content-l__col-1">
                <div>
                    <section>
                        <h2 id="latest-updates">Latest updates</h2>
                        <div class="content__line--wide content__line u-mb20"></div>
                        <strong>Page last edited:</strong>
                        
                        
                        
                        
                        <a href="https://github.com/cfpb/design-system/commits/main/docs/pages/fallback-strategies.md">
                            <time datetime="2026-06-10 15:47:38 -0400">
                                 3:47:38 PM Jun 10, 2026
                            </time>
                        </a>
                    </section>
                </div>
            </div>
        </section>
    

    </section>
</div>

<!-- .content__main --> 

    <div class="o-editor" id="edit-page">
      <cfpb-button href="/design-system/updating-this-website?page=Fallback+strategies" iconright="edit" title="Edit this page in Decap CMS">
        Edit page
      </cfpb-button>
    </div>
  
</main>

     <footer class="ds-footer" role="contentinfo">

    <hr>

    <div class="block block--sub ds-footer__content">
        <p>
            We need your help keeping the Design System accurate and up-to-date!
            If you see something wrong or missing,
            <a href="/design-system/updating-this-website/#editing-pages">edit the page</a>.
            If you can’t make those changes yourself,
            <a href="https://github.com/cfpb/design-system/issues/new?assignees=&amp;labels=content&amp;template=content_issues.md&amp;title=Fallback%20strategies%3A+Add+issue+description">file an issue</a>.
            If you have a substantial change to an existing page, or a new standard you want to add,
            <a href="/design-system/updating-this-website/#creating-new-pages">follow these guidelines</a>.
        </p>

        <p>
            <small><a href="https://github.com/cfpb/design-system"><cfpb-icon name="github-square"></cfpb-icon> Website source code</a></small>
        </p>
    </div>

</footer>
 
    <script type="module" src="/design-system/dist/main.js" charset="utf-8"></script>

    
  </body>
</html>
