<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager code -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-WH4L8LB');</script>
  <title>Fieldsets - CFPB Design System</title>
  <meta name="description" content="CFPB's design system">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/design-system/dist/css/main.css">
  <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<body class="t-variation">
  <!-- Google Tag Manager code -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <div class="skip-nav">
    <a class="skip-nav_link" href="#main">
        Skip to main content
    </a>
  </div>
  <header role="banner" class="site-header-wrapper">

  <div class="m-global-eyebrow">
    <div class="a-tagline">
        An official website of the United States government
    </div>
</div>


  <div class="site-header">

    <form id="search-form" action="/design-system/search" method="get">
    <label class="u-visually-hidden" for="search-box">Search:</label>
    <input type="text" id="search-box" class="a-text-input" name="searchQuery" placeholder="Enter your query">
    <button class="a-btn" type="submit">Search</button>
</form>


    <h1 class="title">
      <a class="title-link" href="/design-system/">
        <span class="demi">CFPB</span> Design System
      </a>
    </h1>
  </div> <!-- /.wrapper -->
</header>


  <div id="redirect-banner" class="block block__flush-top block__flush-bottom block__padded-top u-hidden">
  <div class="m-global-banner">
    <div class="wrapper wrapper__match-content">
      <div class="m-notification m-notification__warning m-notification__visible">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm-49.7 234.6c0-27.6 22.4-50 50-50s50 22.4 50 50v328.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V339.8zm50 582.5c-39.6 0-71.7-32.1-71.7-71.7s32.1-71.7 71.7-71.7S572 811 572 850.6s-32.1 71.7-71.7 71.7z"></path></svg>
        <div class="m-notification_content">
          <div class="h4 m-notification_message">
            You’ve been redirected to this website from
            <span data-redirect="source-name"></span>.
          </div>
          <p class="m-notification_explanation">
            The website you were trying to visit has been deprecated.
            Future updates will happen here.
          </p>
          <p> 
            A permanent snapshot of
            <span data-redirect="source-name"></span>
            is available at
            <a data-redirect="archive-website"></a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  <main id="main" role="main">

    <aside class="ds-sidebar">

<details open class="ds-nav-container">

    <summary class="h4">Navigation</summary>

    <ul class="m-list m-list__links">
    
        
        <li class="m-list_item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="m-list_link" href="/design-system/foundation">Foundation</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list_item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="m-list_link" href="/design-system/components">Components</a>
                </div>

            
                
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Alerts</div>
                        
                        <ul class="m-list m-list__links">
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/banners">Banners</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/notifications">Notifications</a>
                            </li>
                        
                        </ul>
                    
                    
                </div>
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Behavior</div>
                        
                        <ul class="m-list m-list__links">
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/expandables">Expandables</a>
                            </li>
                        
                        </ul>
                    
                    
                </div>
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Form elements</div>
                        
                        <ul class="m-list m-list__links">
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/buttons">Buttons</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/checkboxes">Checkboxes</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/dropdowns-and-multi-selects">Dropdowns and multi-selects</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/fieldsets">Fieldsets</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/helper-text">Helper text</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/labels-and-legends">Labels and legends</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/links">Links</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/radio-buttons">Radio buttons</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/range-sliders">Range sliders</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/text-inputs">Text inputs</a>
                            </li>
                        
                        </ul>
                    
                    
                </div>
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Lists and tables</div>
                        
                        <ul class="m-list m-list__links">
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/lists">Lists</a>
                            </li>
                        
                            <li class="m-list_item">
                                <a class="m-list_link" href="/design-system/components/tables">Tables</a>
                            </li>
                        
                        </ul>
                    
                    
                </div>
                
            
            </div>
        </li>
    
        
        <li class="m-list_item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="m-list_link" href="/design-system/patterns">Patterns</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list_item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="m-list_link" href="/design-system/pages">Pages</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list_item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="m-list_link" href="/design-system/development">Development</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list_item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="m-list_link" href="/design-system/guidelines">Guidelines</a>
                </div>

            
            </div>
        </li>
    
    </ul>

</details>

</aside>


    <div class="ds-content">
        <section>

    <h1 class="component-header u-mb30">
        Fieldsets
    </h1>

    

    

    

    
    
    <ul class="m-list m-list__horizontal m-list__horizontal-spaced">
        
        <li class="m-list_item">
            <a class="m-list_link" href="#types">Types</a>
        </li>
        
        <li class="m-list_item">
            <a class="m-list_link" href="#sizes">Sizes</a>
        </li>
        
    </ul>
    

    
    <section id="description" class="u-mb30">
        <p>The fieldset element is used to group several controls as well as labels within a web form. A fieldset includes each of the following:</p>

<ul>
  <li><a href="https://cfpb.github.io/design-system/components/labels-and-legends">Legend</a></li>
  <li>
<a href="https://cfpb.github.io/design-system/components/helper-text">Block helper text</a> (if necessary)</li>
  <li><a href="https://cfpb.github.io/design-system/components/labels-and-legends">Inline labels</a></li>
  <li>Set of controls such as <a href="https://cfpb.github.io/design-system/components/checkboxes">checkboxes</a> or <a href="https://cfpb.github.io/design-system/components/radio-buttons">radio buttons</a>
</li>
</ul>

    </section>
    

    
    
    <section class="o-variation_group" id="types">

        
        <h2 class="o-variation_group_title">
            Types
        </h2>
        

        
        <div class="o-variation_group_description">
            

        </div>
        

        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Fieldset with checkboxes</h3>
            </div>
            

            
            <div class="m-variation_description">
                

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <form class="o-form">
<legend class="a-legend">
Basic legend
    <small class="a-label_helper a-label_helper__block">Use block helper text for instructions</small>
</legend>
    <div class="o-form_group">
        <fieldset class="o-form_fieldset">
            <div class="m-form-field m-form-field__checkbox">
                <input class="a-checkbox" type="checkbox" id="test_checkbox_1" name="test_checkbox">
                <label class="a-label" for="test_checkbox_1">Inline label</label>
            </div>
            <div class="m-form-field m-form-field__checkbox">
                <input class="a-checkbox" type="checkbox" id="test_checkbox_2" name="test_checkbox">
                <label class="a-label" for="test_checkbox_2">Inline label</label>
            </div>
        </fieldset>
    </div>
</form>
            </div>
            

            
            
            
            

            

            <div class="a-toggle_code">
                <button href="#details-fieldset-with-checkboxes-form-cl-1" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-fieldset-with-checkboxes-form-cl-1" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-fieldset-with-checkboxes-form-cl-1">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-fieldset-with-checkboxes-form-cl-html-code-snippet-1">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-fieldset-with-checkboxes-form-cl-html-code-snippet-1">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;form class="o-form"&gt;
&lt;legend class="a-legend"&gt;
Basic legend
    &lt;small class="a-label_helper a-label_helper__block"&gt;Use block helper text for instructions&lt;/small&gt;
&lt;/legend&gt;
    &lt;div class="o-form_group"&gt;
        &lt;fieldset class="o-form_fieldset"&gt;
            &lt;div class="m-form-field m-form-field__checkbox"&gt;
                &lt;input class="a-checkbox" type="checkbox" id="test_checkbox_1" name="test_checkbox"&gt;
                &lt;label class="a-label" for="test_checkbox_1"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="m-form-field m-form-field__checkbox"&gt;
                &lt;input class="a-checkbox" type="checkbox" id="test_checkbox_2" name="test_checkbox"&gt;
                &lt;label class="a-label" for="test_checkbox_2"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
        &lt;/fieldset&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Fieldset with radio buttons</h3>
            </div>
            

            
            <div class="m-variation_description">
                

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <form class="o-form">
<legend class="a-legend">
Basic legend
    <small class="a-label_helper a-label_helper__block">Use block helper text for instructions</small>
</legend>
    <div class="o-form_group">
        <fieldset class="o-form_fieldset">
            <div class="m-form-field m-form-field__radio">
                <input class="a-radio" type="radio" id="test_radio_1" name="test_radio">
                <label class="a-label" for="test_radio_1">Inline label</label>
            </div>
            <div class="m-form-field m-form-field__radio">
                <input class="a-radio" type="radio" id="test_radio_2" name="test_radio">
                <label class="a-label" for="test_radio_2">Inline label</label>
            </div>
        </fieldset>
    </div>
</form>
            </div>
            

            
            
            
            

            

            <div class="a-toggle_code">
                <button href="#details-fieldset-with-radio-buttons-form-2" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-fieldset-with-radio-buttons-form-2" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-fieldset-with-radio-buttons-form-2">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-fieldset-with-radio-buttons-form-html-code-snippet-2">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-fieldset-with-radio-buttons-form-html-code-snippet-2">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;form class="o-form"&gt;
&lt;legend class="a-legend"&gt;
Basic legend
    &lt;small class="a-label_helper a-label_helper__block"&gt;Use block helper text for instructions&lt;/small&gt;
&lt;/legend&gt;
    &lt;div class="o-form_group"&gt;
        &lt;fieldset class="o-form_fieldset"&gt;
            &lt;div class="m-form-field m-form-field__radio"&gt;
                &lt;input class="a-radio" type="radio" id="test_radio_1" name="test_radio"&gt;
                &lt;label class="a-label" for="test_radio_1"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="m-form-field m-form-field__radio"&gt;
                &lt;input class="a-radio" type="radio" id="test_radio_2" name="test_radio"&gt;
                &lt;label class="a-label" for="test_radio_2"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
        &lt;/fieldset&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
    </section>
    
    <section class="o-variation_group" id="sizes">

        
        <h2 class="o-variation_group_title">
            Sizes
        </h2>
        

        

        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Large target fieldset with checkboxes</h3>
            </div>
            

            
            <div class="m-variation_description">
                

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <form class="o-form">
<legend class="a-legend">
Basic legend
    <small class="a-label_helper a-label_helper__block">Use block helper text for instructions</small>
</legend>
    <div class="o-form_group">
        <fieldset class="o-form_fieldset">
            <div class="m-form-field m-form-field__checkbox m-form-field__lg-target">
                <input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_1">
                <label class="a-label" for="test_checkbox_lg_default_1">Inline label</label>
            </div>
            <div class="m-form-field m-form-field__checkbox m-form-field__lg-target">
                <input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_2">
                <label class="a-label" for="test_checkbox_lg_default_2">Inline label</label>
            </div>
            <div class="m-form-field m-form-field__checkbox m-form-field__lg-target">
                <input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_3">
                <label class="a-label" for="test_checkbox_lg_default_3">This is a very long label that wraps to a second line. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<small class="“a-label_helper’">(This is helper text)</small></label>
            </div>
            <div class="m-form-field m-form-field__checkbox m-form-field__lg-target">
                <input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_4">
                <label class="a-label" for="test_checkbox_lg_default_4">Inline label</label>
            </div>
        </fieldset>
    </div>
</form>
            </div>
            

            
            
            
            

            

            <div class="a-toggle_code">
                <button href="#details-large-target-fieldset-with-check-1" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-large-target-fieldset-with-check-1" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-large-target-fieldset-with-check-1">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-large-target-fieldset-with-check-html-code-snippet-1">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-large-target-fieldset-with-check-html-code-snippet-1">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;form class="o-form"&gt;
&lt;legend class="a-legend"&gt;
Basic legend
    &lt;small class="a-label_helper a-label_helper__block"&gt;Use block helper text for instructions&lt;/small&gt;
&lt;/legend&gt;
    &lt;div class="o-form_group"&gt;
        &lt;fieldset class="o-form_fieldset"&gt;
            &lt;div class="m-form-field m-form-field__checkbox m-form-field__lg-target"&gt;
                &lt;input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_1"&gt;
                &lt;label class="a-label" for="test_checkbox_lg_default_1"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="m-form-field m-form-field__checkbox m-form-field__lg-target"&gt;
                &lt;input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_2"&gt;
                &lt;label class="a-label" for="test_checkbox_lg_default_2"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="m-form-field m-form-field__checkbox m-form-field__lg-target"&gt;
                &lt;input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_3"&gt;
                &lt;label class="a-label" for="test_checkbox_lg_default_3"&gt;This is a very long label that wraps to a second line. Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;small class=“a-label_helper’&gt;(This is helper text)&lt;/small&gt;&lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="m-form-field m-form-field__checkbox m-form-field__lg-target"&gt;
                &lt;input class="a-checkbox" type="checkbox" id="test_checkbox_lg_default_4"&gt;
                &lt;label class="a-label" for="test_checkbox_lg_default_4"&gt;Inline label&lt;/label&gt;
            &lt;/div&gt;
        &lt;/fieldset&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Large target fieldset with radio buttons</h3>
            </div>
            

            
            <div class="m-variation_description">
                

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <fieldset class="o-form_fieldset">
<legend class="a-legend">
Basic legend
    <small class="a-label_helper a-label_helper__block">Use block helper text for instructions</small>
</legend>

                <div class="m-form-field m-form-field__radio m-form-field__lg-target">
                    <input class="a-radio" id="is_helpful_1" type="radio" name="is_helpful" value="1">
                        <label class="a-label" for="is_helpful_1">Inline label
                        </label>
                </div>

                <div class="m-form-field m-form-field__radio m-form-field__lg-target">
                    <input class="a-radio" id="is_helpful_2" type="radio" name="is_helpful" value="0">
                        <label class="a-label" for="is_helpful_2">Inline label
                        </label>
                </div>

                <div class="m-form-field m-form-field__radio m-form-field__lg-target">
                    <input class="a-radio" id="is_helpful_3" type="radio" name="is_helpful" value="0">
                        <label class="a-label" for="is_helpful_3">Inline label
                        </label>
                </div>

                <div class="m-form-field m-form-field__radio m-form-field__lg-target">
                    <input class="a-radio" id="is_helpful_4" type="radio" name="is_helpful" value="0">
                        <label class="a-label" for="is_helpful_4">Inline label
                        </label>
                </div>
    </fieldset>
            </div>
            

            
            
            
            

            

            <div class="a-toggle_code">
                <button href="#details-large-target-fieldset-with-radio-2" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-large-target-fieldset-with-radio-2" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-large-target-fieldset-with-radio-2">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-large-target-fieldset-with-radio-html-code-snippet-2">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-large-target-fieldset-with-radio-html-code-snippet-2">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;fieldset class="o-form_fieldset"&gt;
&lt;legend class="a-legend"&gt;
Basic legend
    &lt;small class="a-label_helper a-label_helper__block"&gt;Use block helper text for instructions&lt;/small&gt;
&lt;/legend&gt;

                &lt;div class="m-form-field m-form-field__radio m-form-field__lg-target"&gt;
                    &lt;input class="a-radio" id="is_helpful_1" type="radio" name="is_helpful" value="1"&gt;
                        &lt;label class="a-label" for="is_helpful_1"&gt;Inline label
                        &lt;/label&gt;
                &lt;/div&gt;

                &lt;div class="m-form-field m-form-field__radio m-form-field__lg-target"&gt;
                    &lt;input class="a-radio" id="is_helpful_2" type="radio" name="is_helpful" value="0"&gt;
                        &lt;label class="a-label" for="is_helpful_2"&gt;Inline label
                        &lt;/label&gt;
                &lt;/div&gt;

                &lt;div class="m-form-field m-form-field__radio m-form-field__lg-target"&gt;
                    &lt;input class="a-radio" id="is_helpful_3" type="radio" name="is_helpful" value="0"&gt;
                        &lt;label class="a-label" for="is_helpful_3"&gt;Inline label
                        &lt;/label&gt;
                &lt;/div&gt;

                &lt;div class="m-form-field m-form-field__radio m-form-field__lg-target"&gt;
                    &lt;input class="a-radio" id="is_helpful_4" type="radio" name="is_helpful" value="0"&gt;
                        &lt;label class="a-label" for="is_helpful_4"&gt;Inline label
                        &lt;/label&gt;
                &lt;/div&gt;
    &lt;/fieldset&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
    </section>
    
    

    
    

    

    

    <div class="content-l u-mb45">
        
    </div>
<!-- .content-l -->

</section><!-- .content_main -->



        

        <div class="o-editor_link" id="toggle-details">
            <a class="a-btn" href="#" title="Show all details">
                <span class="a-btn_text">Show all details</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 609.9 1200" class="cf-icon-svg"><path d="M397.5 989.9H209.2c-8.3 0-15 6.7-15 15 0 4.6 2.1 9 5.8 11.8 60.8 47.3 146 47.3 206.8 0 6.5-5.1 7.7-14.5 2.6-21-2.9-3.7-7.2-5.8-11.9-5.8zM585.9 312.7C520.4 157.5 341.6 84.8 186.4 150.3 73.4 197.9-.1 308.7 0 431.4c0 106.3 52.5 177.8 90.9 229.9 17.3 23.5 36.9 50.2 36.9 63.1v65.4c0 33.1 26.9 60 60 60h234.3c33.1 0 60-26.9 60-60v-65.5c0-12.9 19.6-39.6 36.9-63.1 38.3-52.2 90.9-123.6 90.9-229.9.1-40.7-8.1-81.1-24-118.6zM422.1 724.5V790H187.8v-65.5c0-77.8-127.8-143.9-127.8-293 0-135.3 109.7-244.9 244.9-244.9s244.9 109.6 244.9 244.9c.1 149.1-127.7 215.2-127.7 293zM422.1 890.3H187.8c-16.6 0-30 13.4-30 30s13.4 30 30 30h234.3c16.6 0 30-13.4 30-30s-13.4-30-30-30z"></path></svg></span>
            </a>
        </div>

        

        <div class="o-editor_link" id="edit-page">
            <a class="a-btn" href="/design-system/updating-this-website?page=Fieldsets" title="Edit this page in Netlify CMS">
                <span class="a-btn_text">Edit page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 833.4 1200" class="cf-icon-svg"><path d="M233 203.1c-27.2-27.2-71.8-27.2-99 0L20.4 316.7c-27.2 27.2-27.2 71.8 0 99l89.7 89.7 212.7-212.7-89.8-89.6zM832.6 992.7l-48.6-216c-3.4-15.3-14.9-36.5-26-48.6l-1.8-1.8-121.8-121.9-110.6-110.6-165.7-165.7-54.8 54.8 400 400 21.4-21.4c5.3 6.4 11.9 18.9 13.5 25.6l21.4 95.2-60 60-95.2-21.4c-6.7-1.5-19.2-8.2-25.6-13.5l89.2-89.2-400-400-122.6 122.6 165.7 165.7 110.6 110.6 121.8 121.8 1.8 1.8c12.1 11.1 33.3 22.6 48.6 26l215.9 48.6c2.2.5 4.3.7 6.2.7 12.6.1 19.8-9.4 16.6-23.3z"></path></svg></span>
            </a>
        </div>

    </div>
</main>


  <footer class="ds-footer" role="contentinfo">

    <hr>

    
    <div class="block block__sub">
        <p>
            <small>
                Help improve this website by
                <a href="https://github.com/cfpb/design-system/issues/new?assignees=&amp;labels=content%2C+help+wanted&amp;template=component-needs-content-edits.md&amp;title=Suggestions+for%3A+%22Fieldsets%22">filing an issue</a>
                on GitHub,
                <a href="/design-system/updating-this-website/#editing-pages">editing a page</a>
                or
                <a href="/design-system/updating-this-website/#creating-new-pages">creating a new page</a>.
            </small>
        </p>

        <p>
            <small>
                <strong>Page last edited:</strong>
                
                
                
                
                <a href="https://github.com/cfpb/design-system/commits/master/docs/pages/fieldsets.md">
                    <time datetime="2020-07-20 16:25:35 -0400">
                         4:25:35 PM Jul 20, 2020
                    </time>
                </a>
            </small>
        </p>
    </div>
    

</footer>

  <script src="/design-system/dist/js/main.js" charset="utf-8"></script>

  

</body>
</html>
