<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager code -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-WH4L8LB');</script>
  <title>Helper text - CFPB Design System</title>
  <meta name="description" content="CFPB's design system">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/design-system/dist/css/main.css">
  <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<body class="t-variation">
  <!-- Google Tag Manager code -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <div class="skip-nav">
    <a class="skip-nav_link" href="#main">
        Skip to main content
    </a>
  </div>
  <header role="banner" class="site-header-wrapper">

  <div class="m-global-eyebrow">
    <div class="a-tagline">
        An official website of the United States government
    </div>
</div>


  <div class="site-header">

    <form id="search-form" action="/design-system/search" method="get">
    <label class="u-visually-hidden" for="search-box">Search:</label>
    <input type="text" id="search-box" class="a-text-input" name="searchQuery" placeholder="enter your query">
    <button class="a-btn" type="submit">Search!</button>
</form>


    <h1 class="title">
      <a class="title-link" href="/design-system/">
        <span class="demi">CFPB</span> Design System
      </a>
    </h1>

    <nav class="global-nav" role="navigation">
      <ul class="global-nav_list">
        <li class="nav-list-item">
            <a class="" href="/design-system/getting-started">
            Getting Started
            </a>
        </li>
        <li class="nav-list-item">
            <a class="" href="/design-system/foundation">
            Foundation
            </a>
        </li>
        <li class="nav-list-item">
            <a class="active" href="/design-system/components">
            Components
            </a>
        </li>
        <li class="nav-list-item">
            <a class="" href="/design-system/templates">
            Templates
            </a>
        </li>
      </ul>
    </nav>
  </div> <!-- /.wrapper -->
</header>

  <main class="content content__1-3 content__bleedbar-expandable" id="main" role="main">
  <div class="content_bar"></div>
  <div class="content_wrapper">
    <aside class="content_sidebar
                o-expandable
                o-expandable__padded
                o-expandable__background
                o-expandable__border">
        <button class="o-expandable_header o-expandable_target" title="Expand content">
            <h3 class="h5 o-expandable_header-left o-expandable_label">
                In this section
            </h3>
            <span class="o-expandable_header-right o-expandable_link">
                <span class="o-expandable_cue o-expandable_cue-open">
                    <span class="u-visually-hidden-on-mobile">Show</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm263.1 550.7H549.6v213.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V655.9H236c-27.6 0-50-22.4-50-50s22.4-50 50-50h213.6V342.3c0-27.6 22.4-50 50-50s50 22.4 50 50v213.6h213.6c27.6 0 50 22.4 50 50s-22.5 50-50.1 50z"></path></svg>
                </span>
                <span class="o-expandable_cue o-expandable_cue-close">
                    <span class="u-visually-hidden-on-mobile">Hide</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm263.1 550.7H236c-27.6 0-50-22.4-50-50s22.4-50 50-50h527.1c27.6 0 50 22.4 50 50s-22.4 50-50 50z"></path></svg>
                </span>
            </span>
        </button>
        <div class="o-expandable_content
                    nav-secondary">
            








<ul class="m-list m-list__unstyled">
    
    <li class="m-list_item u-mb15">
        <span class="h5">Alerts</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/banners">Banners</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/notifications">Notifications</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Core development</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/atomic-components">Atomic Components</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/base-images">Base images</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/blocks">Blocks</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/column-dividers">Column dividers</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/grid">Grid</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/helper-classes-and-mixins">Helper classes and mixins</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/media-queries">Media queries</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/main-content-and-sidebars">Main content and sidebars</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Data visualization</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/bar-charts">Bar Charts</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/line-charts">Line Charts</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/pie-charts">Pie Charts</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Forms</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/buttons">Buttons</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/checkboxes">Checkboxes</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/dropdowns-and-multi-selects">Dropdowns and multi-selects</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/e-mail-signup-forms">E-mail Signup Forms</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/feedback-forms">Feedback Forms</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/fieldsets">Fieldsets</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/radio-buttons">Radio Buttons</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/range-sliders">Range Sliders</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/text-inputs">Text Inputs</a>
                </li>
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Layout options</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/cards">Cards</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/expandables">Expandables</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/featured-content-module">Featured Content Module</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/filterable-list-control-panels">Filterable List Control Panels</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/heroes">Heroes</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/link-blobs">Link blobs</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/text-introductions">Text introductions</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/item-introductions">Item introductions</a>
                </li>
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/lists">Lists</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/tables">Tables</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/wells">Wells</a>
                </li>
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Navigation</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/pagination">Pagination</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Text</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/code-blocks">Code blocks</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/headings">Headings</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/helper-text">Helper text</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/labels-and-legends">Labels and legends</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/links">Links</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/paragraphs">Paragraphs</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/quotes">Quotes</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
</ul>


        </div>
    </aside>
        <section class="content_main">

    <h1 class="component-header u-mb30">
        Helper text
    </h1>

    
    <ul class="m-list m-list__horizontal u-mb30">
        
        
        <li class="m-list_item">
            <a class="m-list_link" href="#types">
                Types
            </a>
        </li>
        
        
    </ul>
    

    
    <section id="description" class="u-mb30">
        <p>Helper text is used with form elements to give the user context about their usage. Examples include indicating whether a field is optional or required.</p>

    </section>
    

    
    
    <section class="o-variation_group" id="types">

        
        <h2 class="o-variation_group_title">
            Types
        </h2>
        

        
        <div class="o-variation_group_description">
            <p>Types of helper text include block helper text, inline helper text, and placeholder text.</p>

        </div>
        

        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Block helper text</h3>
            </div>
            

            
            <div class="m-variation_description">
                <p>Use to explain why a piece of information is being requested, address security and privacy concerns, or to suggest ways of providing answers other than providing formatting examples. (For formatting examples, use placeholder text.) Appears with labels and label headings.</p>

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <label class="a-label a-label__heading">
    A label heading
    <small class="a-label_helper a-label_helper__block">Use block helper text for instructions</small>
</label>

<input class="a-text-input" type="text" id="helper-example">
            </div>
            

            
            
            
            

            

            
            

            <div class="a-toggle_code">
                <button href="#details-block-helper-text-use-to-explain-1" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-block-helper-text-use-to-explain-1" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-block-helper-text-use-to-explain-1">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-block-helper-text-use-to-explain-html-code-snippet-1">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#details-block-helper-text-use-to-explain-specs-1">
                            Specs
                        </a>
                    </li>
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-block-helper-text-use-to-explain-html-code-snippet-1">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;label class="a-label a-label__heading"&gt;
    A label heading
    &lt;small class="a-label_helper a-label_helper__block"&gt;Use block helper text for instructions&lt;/small&gt;
&lt;/label&gt;

&lt;input class="a-text-input" type="text" id="helper-example"&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details-block-helper-text-use-to-explain-specs-1">
                    <div>
                        <h4 class="variation-specs-title">Specs</h4>
                        <div style="padding:40px">
                            <h4 id="block-helper-text">Block helper text</h4>
<ul>
  <li>Avenir Next Regular, 16 px, Gray (#5a5d61)</li>
  <li>Margin top: 10 px</li>
  <li>Margin bottom: 10 px</li>
</ul>

                        </div>
                    </div>
                </section>
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Inline helper text</h3>
            </div>
            

            
            <div class="m-variation_description">
                <p>Use to indicate whether a field is optional or required. Appears inline with label headings, and should be lowercase and placed in parenthesis after the label.</p>

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <label class="a-label a-label__heading">
    A label heading <small class="a-label_helper">(optional)</small>
</label>

<input class="a-text-input" type="text" id="helper-example">
            </div>
            

            
            
            
            

            

            
            

            <div class="a-toggle_code">
                <button href="#details-inline-helper-text-use-to-indica-2" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-inline-helper-text-use-to-indica-2" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-inline-helper-text-use-to-indica-2">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-inline-helper-text-use-to-indica-html-code-snippet-2">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#details-inline-helper-text-use-to-indica-specs-2">
                            Specs
                        </a>
                    </li>
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-inline-helper-text-use-to-indica-html-code-snippet-2">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;label class="a-label a-label__heading"&gt;
    A label heading &lt;small class="a-label_helper"&gt;(optional)&lt;/small&gt;
&lt;/label&gt;

&lt;input class="a-text-input" type="text" id="helper-example"&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details-inline-helper-text-use-to-indica-specs-2">
                    <div>
                        <h4 class="variation-specs-title">Specs</h4>
                        <div style="padding:40px">
                            <h4 id="inline-helper-text">Inline helper text</h4>
<ul>
  <li>Avenir Next Regular, 16 px, Gray (#5a5d61)</li>
  <li>Margin bottom: 10 px</li>
</ul>

                        </div>
                    </div>
                </section>
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Placeholder text</h3>
            </div>
            

            
            <div class="m-variation_description">
                <p>Use placeholder text for formatting examples only. Don’t use for instructions. Placeholder text disappears once a user begins typing in the field.</p>

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live_code">
                <label class="a-label a-label__heading" for="textinput-example-default">
    A label heading
</label>
<input class="a-text-input" type="text" id="textinput-example-default" placeholder="Enter text…" value="mm/dd/yyyy">
<br><br>
<input class="a-text-input" type="text" id="textinput-example-default" placeholder="Enter text…" value="email@example.com">
<br><br>
<input class="a-text-input" type="text" id="textinput-example-default" placeholder="Enter text…" value="placeholder text">
            </div>
            

            
            
            
            

            

            
            

            <div class="a-toggle_code">
                <button href="#details-placeholder-text-use-placeholder-3" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-placeholder-text-use-placeholder-3" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-placeholder-text-use-placeholder-3">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-placeholder-text-use-placeholder-html-code-snippet-3">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#details-placeholder-text-use-placeholder-specs-3">
                            Specs
                        </a>
                    </li>
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-placeholder-text-use-placeholder-html-code-snippet-3">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;label class="a-label a-label__heading" for="textinput-example-default"&gt;
    A label heading
&lt;/label&gt;
&lt;input class="a-text-input"
      type="text"
      id="textinput-example-default"
      placeholder="Enter text…"
      value="mm/dd/yyyy"&gt;
&lt;br&gt;&lt;br&gt;
&lt;input class="a-text-input"
      type="text"
      id="textinput-example-default"
      placeholder="Enter text…"
      value="email@example.com"&gt;
&lt;br&gt;&lt;br&gt;
&lt;input class="a-text-input"
      type="text"
      id="textinput-example-default"
      placeholder="Enter text…"
      value="placeholder text"&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                
                <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details-placeholder-text-use-placeholder-specs-3">
                    <div>
                        <h4 class="variation-specs-title">Specs</h4>
                        <div style="padding:40px">
                            <h4 id="placeholder-text">Placeholder text</h4>
<p>Avenir Next Regular, 16 px, Gray (#5a5d61)</p>

                        </div>
                    </div>
                </section>
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
    </section>
    
    

    
    
        <section class="sticky-header u-mb45">

            

            
                <h2 id="content-guidelines">Content guidelines</h2>
                <div class="content_line content_line__wide u-mb20"></div>
                <p>
                </p>
<h3 id="required-vs-optional-fields">Required vs. optional fields</h3>
<p>Where possible, design your forms to only include required fields. If it’s not required, ask yourself if it’s really necessary to include at all. Add instructions at the top of the form to clearly indicate that all fields are required unless otherwise noted. If a field is optional, indicate it with inline helper text, as shown above. Don’t indicate which fields are required; that would only introduce redundant visual noise.</p>

<p>Try not to design forms consisting mainly of optional fields. If you must do so, mark required field labels only with inline helper text.</p>

                
            

            

            
        </section>
    

    
        <section class="sticky-header u-mb45">
            <h2 id="accessibility">Accessibility</h2>
            <div class="content_line content_line__wide u-mb20"></div>
            <p>
                </p>
<p>For screen reader accessibility, consider using the aria-describedby attribute for helper text, which gives screen readers users the information if they need while allowing more flexibility with placement.</p>

            
        </section>
    

    

    <div class="content-l u-mb45">
        
    </div>
<!-- .content-l -->

</section><!-- .content_main -->

        <div class="o-editor_link" id="edit-page">
            <a class="a-btn" href="/design-system/admin/#/collections/components/entries/helper-text" title="Edit this page in Netlify CMS">
                <span class="a-btn_text">Edit this page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 833.4 1200" class="cf-icon-svg"><path d="M233 203.1c-27.2-27.2-71.8-27.2-99 0L20.4 316.7c-27.2 27.2-27.2 71.8 0 99l89.7 89.7 212.7-212.7-89.8-89.6zM832.6 992.7l-48.6-216c-3.4-15.3-14.9-36.5-26-48.6l-1.8-1.8-121.8-121.9-110.6-110.6-165.7-165.7-54.8 54.8 400 400 21.4-21.4c5.3 6.4 11.9 18.9 13.5 25.6l21.4 95.2-60 60-95.2-21.4c-6.7-1.5-19.2-8.2-25.6-13.5l89.2-89.2-400-400-122.6 122.6 165.7 165.7 110.6 110.6 121.8 121.8 1.8 1.8c12.1 11.1 33.3 22.6 48.6 26l215.9 48.6c2.2.5 4.3.7 6.2.7 12.6.1 19.8-9.4 16.6-23.3z"></path></svg></span>
            </a>
        </div>
        <div class="o-editor_link" id="add-page">
            <a class="a-btn" href="/design-system/admin/#/collections/components/new" title="Add a new Design System page in Netlify CMS">
                <span class="a-btn_text">Add new page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784.5 1200" class="cf-icon-svg"><path d="M719.5 515H457.3V252.7c0-35.9-29.1-65-65-65s-65 29.1-65 65V515H65c-35.9 0-65 29.1-65 65s29.1 65 65 65h262.3v262.3c0 35.9 29.1 65 65 65s65-29.1 65-65V645h262.3c35.9 0 65-29.1 65-65s-29.2-65-65.1-65z"></path></svg></span>
            </a>
        </div>
  </div>
</main>

  <footer class="footer" role="contentinfo">

    <hr>

    
    <div class="block block__sub">
        <p>
            <small>
                <strong>Help improve this page:</strong>
                <a href="https://github.com/cfpb/design-system/issues/new?assignees=&amp;labels=content%2C+help+wanted&amp;template=component-needs-content-edits.md&amp;title=Suggestions+for%3A+%22Helper%20text%22">
                    File an issue on GitHub.
                </a>
            </small>
        </p>

        <p>
            <small>
                <strong>Page last edited:</strong>
                
                
                <a href="https://github.com/cfpb/design-system/commits/master/docs/components/helper-text.md">
                    <time datetime="2020-06-05 11:08:03 -0400">
                        11:08:03 AM Jun 05, 2020
                    </time>
                </a>
            </small>
        </p>
    </div>
    

</footer>

  <script src="/design-system/dist/js/main.js" charset="utf-8"></script>
</body>
</html>
