<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager code -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-WH4L8LB');</script>
  <title>Modals - CFPB Design System</title>
  <meta name="description" content="CFPB's design system">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/design-system/dist/css/main.css">
  <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<body class="t-variation">
  <!-- Google Tag Manager code -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <div class="skip-nav">
    <a class="skip-nav_link" href="#main">
        Skip to main content
    </a>
  </div>
  <div class="m-global-eyebrow
            m-global-eyebrow__horizontal">
    <div class="wrapper
                wrapper__match-content">
        <div class="a-tagline">
            An official website of the United States government
        </div>
    </div>
</div>

  <div class="body-wrapper">
    <header role="banner" class="site-header">
  <div class="wrapper">
    <div class="title content-l_col content-l_col-1-3">
      <h1 class="title_heading">
        <a class="title-link" href="/design-system/">
          <span class="demi">CFPB</span> Design System
        </a>
      </h1>
    </div>

    <form id="search-form" action="/design-system/search" method="get">
    <label class="u-visually-hidden" for="search-box">Search:</label>
    <input type="text" id="search-box" class="a-text-input" name="searchQuery" placeholder="enter your query">
    <button class="a-btn" type="submit">Search!</button>
</form>


    <nav class="global-nav content-l_col content-l_col-2-3" role="navigation">
      <ul class="global-nav_list">
        <li class="nav-list-item">
            <a class="" href="/design-system/getting-started">
            Getting Started
            </a>
        </li>
        <li class="nav-list-item">
            <a class="" href="/design-system/foundation">
            Foundation
            </a>
        </li>
        <li class="nav-list-item">
            <a class="active" href="/design-system/components">
            Components
            </a>
        </li>
        <li class="nav-list-item">
            <a class="" href="/design-system/templates">
            Templates
            </a>
        </li>
      </ul>
    </nav>
  </div> <!-- /.wrapper -->
</header>

    <main class="content content__1-3 content__bleedbar-expandable" id="main" role="main">
  <div class="content_bar"></div>
  <div class="content_wrapper">
    <aside class="content_sidebar
                o-expandable
                o-expandable__padded
                o-expandable__background
                o-expandable__border">
        <button class="o-expandable_header o-expandable_target" title="Expand content">
            <h3 class="h5 o-expandable_header-left o-expandable_label">
                In this section
            </h3>
            <span class="o-expandable_header-right o-expandable_link">
                <span class="o-expandable_cue o-expandable_cue-open">
                    <span class="u-visually-hidden-on-mobile">Show</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm263.1 550.7H549.6v213.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V655.9H236c-27.6 0-50-22.4-50-50s22.4-50 50-50h213.6V342.3c0-27.6 22.4-50 50-50s50 22.4 50 50v213.6h213.6c27.6 0 50 22.4 50 50s-22.5 50-50.1 50z"></path></svg>
                </span>
                <span class="o-expandable_cue o-expandable_cue-close">
                    <span class="u-visually-hidden-on-mobile">Hide</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm263.1 550.7H236c-27.6 0-50-22.4-50-50s22.4-50 50-50h527.1c27.6 0 50 22.4 50 50s-22.4 50-50 50z"></path></svg>
                </span>
            </span>
        </button>
        <div class="o-expandable_content
                    nav-secondary">
            








<ul class="m-list m-list__unstyled">
    
    <li class="m-list_item u-mb15">
        <span class="h5">Alerts</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/banners">Banners</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/notifications">Notifications</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Core development</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/atomic-components">Atomic Components</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/base-images">Base images</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/blocks">Blocks</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/column-dividers">Column dividers</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/grid">Grid</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/helper-classes-and-mixins">Helper classes and mixins</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/media-queries">Media queries</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Data visualization</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/bar-charts">Bar Charts</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/line-charts">Line Charts</a>
                </li>
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/maps">Maps</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/pie-charts">Pie Charts</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Forms</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/buttons">Buttons</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/checkboxes">Checkboxes</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/dropdowns-and-multi-selects">Dropdowns and multi-selects</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/e-mail-signup-forms">E-mail Signup Forms</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/feedback-forms">Feedback Forms</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/fieldsets">Fieldsets</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/radio-buttons">Radio Buttons</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/range-sliders">Range Sliders</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/text-inputs">Text Inputs</a>
                </li>
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Layout options</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/cards">Cards</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/contact-information">Contact Information</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/expandables">Expandables</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/featured-content-module">Featured Content Module</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/filterable-list-control-panels">Filterable List Control Panels</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/heroes">Heroes</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/link-blobs">Link blobs</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/introductions">Introductions</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/lists">Lists</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/sidebars-and-prefooters">Sidebars and Prefooters</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/tables">Tables</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/wells">Wells</a>
                </li>
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Navigation</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/left-hand-navigation">Left Hand Navigation</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/pagination">Pagination</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
    <li class="m-list_item u-mb15">
        <span class="h5">Text</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/code-blocks">Code blocks</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/headings">Headings</a>
                </li>
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/helper-text">Helper text</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/labels-and-legends">Labels and legends</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/links">Links</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/paragraphs">Paragraphs</a>
                </li>
                
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/components/quotes">Quotes</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
</ul>


        </div>
    </aside>
        <section class="content_main">

    <div class="component-header u-mb30">
        <h1>
            Modals
        </h1>
    </div>

    
    <ul class="m-list m-list__horizontal u-mb30">
        
        
        
    </ul>
    

    
        <section id="description" class="u-mb30">
            <p>Modal windows (also known as dialog boxes or lightboxes) are “pop-up” elements that appear in front of a web page, blocking the main page below. Similar to popup windows or system alerts, modals are unique because they prevent interaction with the page underneath.</p>

        </section>
    

    
    
    <section class="o-variation_group" id="">
        

        

        
        <div class="m-variation">

            <div class="m-variation_name">
                <h3>Default modal</h3>
            </div>

            <div class="m-variation_description">
                <p><img src="/design-system/images/uploads/formexpiring.png" alt="Example of modal"></p>

<p><img src="/design-system/images/uploads/savesearch.png" alt="Example of modal"></p>

            </div>

            <!-- Live code example -->
            
            <div class="a-live_code">
                
            </div>
            

            
            
            
            
            

            <div class="a-toggle_code">
                <button href="#default-modal-code-1" class="a-btn a-btn__link" data-toggle-code="show">Show source</button>
                <button href="#default-modal-code-1" class="a-btn a-btn__link u-hidden" data-toggle-code="hide">Hide source</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="default-modal-code-1">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#default-modal-html-code-snippet-1">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="default-modal-html-code-snippet-1">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html"></code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
    </section>
    
    

    
    
        <section class="sticky-header u-mb45">
            <h2 id="usage">Usage</h2>
            <div class="content_line__wide content_line content_line u-mb20"></div>
                
                    <p>
                    </p>
<h4 id="use-cases">Use cases</h4>

<p>Modals help draw attention to an alert or a focused task by preventing interactions with anything on the web page other than the modal itself. Due to their disruptive nature, modal windows should only be used in very specific cases outlined below.</p>

<h5 id="feedback-or-correction">Feedback or correction</h5>
<p>Modals can be effective for communicating a warning or alert outside the main web page. They can be triggered by a user interaction (like pressing a button to “save”) or without an interaction (like a timeout warning after a period of inactivity).</p>

<h5 id="interruption">Interruption</h5>
<p>Use modals to force the user to complete a task or make a decision that requires their full attention outside of the main workflow. A critical piece of this scenario is that you need the workflow to be interrupted to be effective. If not, explore other UI elements to accomplish the goal.</p>

<h5 id="examples-of-when-to-use-modals">Examples of when to use modals</h5>
<ul>
  <li>Confirm an action that can’t be undone, such as “Are you sure you want to delete this?</li>
  <li>Display a warning that something is about to expire or timeout</li>
  <li>Save a form that requires inputs separate from the main workflow, like entering a “Save as” file name</li>
  <li>Focus attention on the need to accept or acknowledge something before the user can proceed</li>
</ul>

<h4 id="content-guidelines">Content guidelines</h4>

<h5 id="heading">Heading</h5>
<p>Modal windows should have a clear heading at the top of the window. This heading should clearly state what is happening or what action a modal is prompting the user for. For instance, if a modal appears due to inactivity, the heading should clearly state the action that is about to take place due to that inactivity.</p>

<h5 id="supporting-text">Supporting text</h5>
<p>Any copy underneath the heading should include clear instructions about what the user needs to do.</p>

<h5 id="form-fields">Form fields</h5>
<p>If form fields are included in a modal, they should follow standard form field design guidelines.</p>

<h5 id="modal-window-box">Modal window box</h5>
<ul>
  <li>Alignment: centered horizontally and vertically on top of lightbox</li>
  <li>Background: White (#ffffff)</li>
  <li>Background lightbox: Gray 80 (#75787b), 70% opacity</li>
  <li>Padding: 30px</li>
  <li>Top border: 3px, CFPB Green (#20aa3f)</li>
  <li>Heading: Avenir Next Regular, 22 px, Black (#101820)</li>
  <li>Supporting text: Avenir Next Regular, 16px, Black (#101820)</li>
</ul>

<h5 id="close-area">Close area</h5>
<ul>
  <li>Minicon: “close-round”</li>
  <li>Minicon color: Pacific (#0072ce)</li>
  <li>Minicon size: 16px</li>
  <li>Font: Avenir Next Regular, 16px, Pacific (#0072ce)</li>
</ul>

<h5 id="gray-action-bar">Gray action bar</h5>
<ul>
  <li>Background: Gray 5 (#f7f8f9)</li>
  <li>Padding right/left: 30px</li>
  <li>Padding top/bottom: 10px</li>
  <li>Primary action: left aligned button</li>
</ul>

<h5 id="maximum-width">Maximum width</h5>
<ul>
  <li>270px for small screens</li>
  <li>630px for medium and large screens</li>
</ul>

<h5 id="inactive-window">Inactive window</h5>
<ul>
  <li>Set page to fixed</li>
</ul>

<h4 id="behavior">Behavior</h4>
<h5 id="opening-a-modal">Opening a modal</h5>
<p>Modals can be triggered by links, buttons, or even inactivity on a site. When a modal opens, set the focus to the first element users need to interact with. This could be either the first form field in the modal window or the primary action button.</p>

<h5 id="scrolling-within-a-modal">Scrolling within a modal</h5>
<p>Modal windows should not scroll. If a modal contains enough information to require scrolling, use an alternative method of displaying content, such as a different UI element or another content page.</p>

<h5 id="closing-a-modal">Closing a modal</h5>
<p>Actions inside modals should be clearly marked. There should be a clear path forward (“continue”) and back (“cancel”), in addition to a clearly labeled way to close the modal without taking any action at all. When a modal window is closed, return focus to the last active element on the page behind the modal.</p>

<p>Modal windows are always closable by clicking or tapping:</p>
<ul>
  <li>A delete minicon or label in the upper right corner</li>
  <li>The next action button or link</li>
  <li>Anywhere outside the modal window</li>
  <li>ESC key on a keyboard</li>
</ul>

<h5 id="creating-accessible-behaviors">Creating accessible behaviors</h5>
<p>Keyboard access should be limited to only interacting with the modal dialog once it is visible.</p>
<ul>
  <li>The close minicon needs to be accessible from a keyboard.</li>
  <li>The escape key should also close the modal.</li>
  <li>The enter key should should be mapped to any submission forms in the modal.</li>
</ul>

<p>Provide separate focus and hover states for the close minicon and any “next” action buttons.</p>

<p>The find function (ctrl+F) will not search information contained within a modal window.</p>

<p>Include offscreen instructions that describe the modal dialog and how to interact with it.</p>

<h4 id="specific-development-directions">Specific development directions</h4>
<ul>
  <li>Modal windows should be marked with aria-hidden=”true” and toggled to false when visible and given the role=dialog ARIA role.</li>
  <li>When the modal dialog is displayed, the main content of the page should be marked with aria-hidden=”true” to prevent screen readers from interacting with it.</li>
  <li>Add role=”alertdialog” to the modal window.</li>
  <li>Code the close minicon using a button element for more semantic markup.</li>
  <li>The heading of the modal dialog should use an H1 tag.</li>
  <li>Offscreen interaction instructions should use aria-labelledby attribute.</li>
</ul>

                    
                
            
        </section>
    

    

    

    <div class="content-l u-mb45">
        

        
    </div>
<!-- .content-l -->

</section><!-- .content_main -->

        <div class="o-editor_link" id="edit-page">
            <a class="a-btn" href="/design-system/admin/#/collections/components/entries/modals" title="Edit this page in Netlify CMS">
                <span class="a-btn_text">Edit this page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 833.4 1200" class="cf-icon-svg"><path d="M233 203.1c-27.2-27.2-71.8-27.2-99 0L20.4 316.7c-27.2 27.2-27.2 71.8 0 99l89.7 89.7 212.7-212.7-89.8-89.6zM832.6 992.7l-48.6-216c-3.4-15.3-14.9-36.5-26-48.6l-1.8-1.8-121.8-121.9-110.6-110.6-165.7-165.7-54.8 54.8 400 400 21.4-21.4c5.3 6.4 11.9 18.9 13.5 25.6l21.4 95.2-60 60-95.2-21.4c-6.7-1.5-19.2-8.2-25.6-13.5l89.2-89.2-400-400-122.6 122.6 165.7 165.7 110.6 110.6 121.8 121.8 1.8 1.8c12.1 11.1 33.3 22.6 48.6 26l215.9 48.6c2.2.5 4.3.7 6.2.7 12.6.1 19.8-9.4 16.6-23.3z"></path></svg></span>
            </a>
        </div>
        <div class="o-editor_link" id="add-page">
            <a class="a-btn" href="/design-system/admin/#/collections/components/new" title="Add a new Design System page in Netlify CMS">
                <span class="a-btn_text">Add new page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784.5 1200" class="cf-icon-svg"><path d="M719.5 515H457.3V252.7c0-35.9-29.1-65-65-65s-65 29.1-65 65V515H65c-35.9 0-65 29.1-65 65s29.1 65 65 65h262.3v262.3c0 35.9 29.1 65 65 65s65-29.1 65-65V645h262.3c35.9 0 65-29.1 65-65s-29.2-65-65.1-65z"></path></svg></span>
            </a>
        </div>
  </div>
</main>

    <footer class="footer" role="contentinfo">
    <div class="wrapper">

        <hr>

        
        <div class="block block__sub">
            <small>
                <strong>Page last edited:</strong>
                <time datetime="2020-05-01 17:35:42 +0000">
                     5:35:42 PM May 01, 2020
                </time>
            </small>
        </div>
        

    </div>
</footer>

  </div>
  <script src="/design-system/dist/js/main.js" charset="utf-8"></script>
</body>
</html>
