<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager code -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-WH4L8LB');
    </script>
    <title>Summaries - CFPB Design System</title>
    <meta name="description" content="CFPB's design system">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/design-system/dist/index.css">
    <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(
        /(^|\s)no-js(\s|$)/,
        '$1$2',
      );
    </script>
  </head>
  <body class="t-variation">
    <!-- Google Tag Manager code -->
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display: none; visibility: hidden"></iframe>

    <div class="skip-nav">
      <cfpb-button href="#main" class="skip-nav__link">
        Skip to main content
      </cfpb-button>
    </div>

    <header role="banner" class="site-header-wrapper">

  <div class="m-global-eyebrow">
    <div class="m-global-eyebrow__container"><cfpb-tagline></cfpb-tagline></div>
</div>


  <div class="site-header">

    <form id="search-form" action="/design-system/search" method="get">
    <cfpb-form-search id="search-box" form="search-form" name="searchQuery">
        <ul hidden>
            <li><a href="/design-system/components/alerts">Alerts</a></li>
            <li><a href="/design-system/components/banner-notification">Banner (notification)</a></li>
            <li><a href="/design-system/components/banner-us-gov">Banner (US gov)</a></li>
            <li><a href="/design-system/components/buttons">Buttons</a></li>
            <li><a href="/design-system/components/checkboxes">Checkboxes</a></li>
            <li><a href="/design-system/components/date-picker">Date picker</a></li>
            <li><a href="/design-system/components/expandables">Expandables</a></li>
            <li><a href="/design-system/components/fieldsets">Fieldsets</a></li>
            <li><a href="/design-system/components/helper-text">Helper text</a></li>
            <li><a href="/design-system/components/labels-and-legends">Labels and legends</a></li>
            <li><a href="/design-system/components/links">Links</a></li>
            <li><a href="/design-system/components/lists">Lists</a></li>
            <li><a href="/design-system/components/pagination">Pagination</a></li>
            <li><a href="/design-system/components/radio-buttons">Radio buttons</a></li>
            <li><a href="/design-system/components/range-sliders">Range sliders</a></li>
            <li><a href="/design-system/components/selects">Selects</a></li>
            <li><a href="/design-system/components/summaries">Summaries</a></li>
            <li><a href="/design-system/components/tables">Tables</a></li>
            <li><a href="/design-system/components/tags">Tags</a></li>
            <li><a href="/design-system/components/taglines">Taglines</a></li>
            <li><a href="/design-system/components/text-inputs">Text inputs</a></li>
            <li><a href="/design-system/components/tooltips">Tooltips</a></li>
            <li><a href="/design-system/components/elements">Web Components</a></li>
        </ul>
    </cfpb-form-search>
</form>


    <h1 class="title">
      <a class="title-link" href="/design-system/">
        <span class="demi">CFPB</span> Design System
      </a>
    </h1>
  </div> <!-- /.wrapper -->
</header>
 <main id="main" role="main">
  <aside class="ds-sidebar">

<details open class="ds-nav-container">

    <summary class="h4">Navigation</summary>

    <ul class="m-list m-list--links">
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/foundation">Foundation</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/components">Components</a>
                </div>

            
                
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Components</div>
                        
                        <ul class="m-list m-list--links">
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/alerts">Alerts</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/banner-notification">Banner (notification)</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/banner-us-gov">Banner (US gov)</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/buttons">Buttons</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/checkboxes">Checkboxes</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/date-picker">Date picker</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/expandables">Expandables</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/fieldsets">Fieldsets</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/helper-text">Helper text</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/labels-and-legends">Labels and legends</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/links">Links</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/lists">Lists</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/pagination">Pagination</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/radio-buttons">Radio buttons</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/range-sliders">Range sliders</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/selects">Selects</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/summaries">Summaries</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/tables">Tables</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/tags">Tags</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/taglines-legacy">Taglines (legacy)</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/text-inputs">Text inputs</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/tooltips">Tooltips</a>
                            </li>
                        
                        </ul>
                    
                    
                </div>
                
                    <div class="ds-nav ds-nav-2">
                        <div class="h5">Web Components (beta)</div>
                        
                        <ul class="m-list m-list--links">
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/taglines">Taglines</a>
                            </li>
                        
                        </ul>
                    
                    
                    <div class="ds-nav ds-nav-3">
                        <div class="h6">Developer guidelines</div>
                        <ul class="m-list m-list--links">
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/reference-for-custom-elements">Reference for custom elements</a>
                            </li>
                        
                            <li class="m-list__item">
                                <a class="a-link a-link--jump" href="/design-system/components/fallback-strategies">Fallback strategies</a>
                            </li>
                        
                        </ul>
                    </div>
                    
                </div>
                
            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/patterns">Patterns</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/pages">Pages</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/development">Development</a>
                </div>

            
            </div>
        </li>
    
        
        <li class="m-list__item">

            <div class="ds-nav ds-nav-1">
                <div class="h4">
                    <a class="a-link a-link--jump" href="/design-system/guidelines">Guidelines</a>
                </div>

            
            </div>
        </li>
    
    </ul>

</details>

</aside>


  <div class="ds-content">
    <section>
      <div class="h5">
        Components
      </div>
    

    <h1 class="component-header u-mb30">
        Summaries
    </h1>

    

    

    

    
    
    <ul class="m-list m-list--horizontal m-list--horizontal-spaced">
        
        <li class="m-list__item">
            <a href="#types">Types</a>
        </li>
        
    </ul>
    

    
    <section id="description" class="u-mb30">
        <p>Summary components hides content over a certain height. When the hidden content is shown it can’t be reverted to the summary until the page is reloaded.</p>

    </section>
    

    

    
    
    <section class="o-variation-group" id="types">

        
        <h2 class="o-variation-group__title">
            Types
        </h2>
        

        

        
        <div class="m-variation">

            
            
            
            

            
            <div class="m-variation__name">
                <h3>
                    Summary (on desktop)
                    
                </h3>
            </div>
            

            
            <div class="m-variation__description">
                

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live__code">
                <div class="o-summary">
    <div class="o-summary__content">
        Resize me smaller if the read more button is absent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Duis</a>.
    </div>

    <button class="o-summary__btn">
        Read full answer
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
    </button>
</div>
            </div>
            

            
            
            
            

            

            <div class="a-toggle__code">
                <cfpb-button href="#details-summary-on-desktop-div-class-o-s-1" style-as-link data-toggle-details="show">SHOW DETAILS</cfpb-button>
                <cfpb-button href="#details-summary-on-desktop-div-class-o-s-1" style-as-link class="u-hidden" data-toggle-details="hide">HIDE DETAILS</cfpb-button>
            </div>

            <div class="m-tabs u-hidden" id="details-summary-on-desktop-div-class-o-s-1">
                <ul class="m-tabs__list">
                    
                    <li class="m-tabs__list-item m-tabs__list-item-selected">
                        <a class="m-tabs__tab" href="#details-summary-on-desktop-div-class-o-s-html-code-snippet-1">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="m-tabs__panel" id="details-summary-on-desktop-div-class-o-s-html-code-snippet-1">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;div class="o-summary"&gt;
    &lt;div class="o-summary__content"&gt;
        Resize me smaller if the read more button is absent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. &lt;a href="#"&gt;Duis&lt;/a&gt;.
    &lt;/div&gt;

    &lt;button class="o-summary__btn"&gt;
        Read full answer
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
    &lt;/button&gt;
&lt;/div&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
            

        </div>
        
        <div class="m-variation">

            
            
            
            

            
            <div class="m-variation__name">
                <h3>
                    Summary (long amounts of mixed content)
                    
                </h3>
            </div>
            

            
            <div class="m-variation__description">
                

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live__code">
                <div class="o-summary">
    <div class="o-summary__content">
        <p>
        Resize me smaller if the read more button is absent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Duis</a> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Duis</a> aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>

        <p>
        </p>
<ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        
    </div>

    <button class="o-summary__btn">
        Read full answer
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
    </button>
</div>
            </div>
            

            
            
            
            

            

            <div class="a-toggle__code">
                <cfpb-button href="#details-summary-long-amounts-of-mixed-co-2" style-as-link data-toggle-details="show">SHOW DETAILS</cfpb-button>
                <cfpb-button href="#details-summary-long-amounts-of-mixed-co-2" style-as-link class="u-hidden" data-toggle-details="hide">HIDE DETAILS</cfpb-button>
            </div>

            <div class="m-tabs u-hidden" id="details-summary-long-amounts-of-mixed-co-2">
                <ul class="m-tabs__list">
                    
                    <li class="m-tabs__list-item m-tabs__list-item-selected">
                        <a class="m-tabs__tab" href="#details-summary-long-amounts-of-mixed-co-html-code-snippet-2">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="m-tabs__panel" id="details-summary-long-amounts-of-mixed-co-html-code-snippet-2">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;div class="o-summary"&gt;
    &lt;div class="o-summary__content"&gt;
        &lt;p&gt;
        Resize me smaller if the read more button is absent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. &lt;a href="#"&gt;Duis&lt;/a&gt; aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        &lt;/p&gt;
        &lt;p&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. &lt;a href="#"&gt;Duis&lt;/a&gt; aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        &lt;/p&gt;

        &lt;p&gt;
        &lt;ul&gt;
          &lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
          &lt;li&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;/p&gt;
    &lt;/div&gt;

    &lt;button class="o-summary__btn"&gt;
        Read full answer
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
    &lt;/button&gt;
&lt;/div&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
            

        </div>
        
        <div class="m-variation">

            
            
            
            

            
            <div class="m-variation__name">
                <h3>
                    Summary on Mobile
                    
                </h3>
            </div>
            

            
            <div class="m-variation__description">
                <p>Adding the <code class="language-plaintext highlighter-rouge">o-summary--mobile</code> modifier makes the summary behavior only show up on a mobile (narrow) page width.</p>

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live__code">
                <div class="o-summary o-summary--mobile">
  <div class="o-summary__content">
    Resize me to mobile if the read more button is absent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <button class="o-summary__btn">
      Read full answer
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
  </button>
</div>
            </div>
            

            
            
            
            

            

            <div class="a-toggle__code">
                <cfpb-button href="#details-summary-on-mobile-adding-the-o-s-3" style-as-link data-toggle-details="show">SHOW DETAILS</cfpb-button>
                <cfpb-button href="#details-summary-on-mobile-adding-the-o-s-3" style-as-link class="u-hidden" data-toggle-details="hide">HIDE DETAILS</cfpb-button>
            </div>

            <div class="m-tabs u-hidden" id="details-summary-on-mobile-adding-the-o-s-3">
                <ul class="m-tabs__list">
                    
                    <li class="m-tabs__list-item m-tabs__list-item-selected">
                        <a class="m-tabs__tab" href="#details-summary-on-mobile-adding-the-o-s-html-code-snippet-3">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="m-tabs__panel" id="details-summary-on-mobile-adding-the-o-s-html-code-snippet-3">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;div class="o-summary o-summary--mobile"&gt;
  &lt;div class="o-summary__content"&gt;
    Resize me to mobile if the read more button is absent. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  &lt;/div&gt;

  &lt;button class="o-summary__btn"&gt;
      Read full answer
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
  &lt;/button&gt;
&lt;/div&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
            

        </div>
        
        <div class="m-variation">

            
            
            
            

            
            <div class="m-variation__name">
                <h3>
                    Summary Minimal
                    
                </h3>
            </div>
            

            
            <div class="m-variation__description">
                <p>This component provides a more inconspicous button, which stays at the bottom of the summary when expanded.</p>

            </div>
            

            <!-- Live code example -->
            
            <div class="a-live__code">
                <div class="o-summary-minimal">
  <div class="o-summary-minimal__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <button class="o-summary-minimal__btn">
      <span class="o-summary-minimal__cue-open">
          Show
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
      </span>
      <span class="o-summary-minimal__cue-close">
          Hide
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--minus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H4.32a.792.792 0 0 0 0 1.583h8.346a.79.79 0 0 0 .792-.791"></path></svg>
      </span>
  </button>
</div>
            </div>
            

            
            
            
            

            

            <div class="a-toggle__code">
                <cfpb-button href="#details-summary-minimal-this-component-p-4" style-as-link data-toggle-details="show">SHOW DETAILS</cfpb-button>
                <cfpb-button href="#details-summary-minimal-this-component-p-4" style-as-link class="u-hidden" data-toggle-details="hide">HIDE DETAILS</cfpb-button>
            </div>

            <div class="m-tabs u-hidden" id="details-summary-minimal-this-component-p-4">
                <ul class="m-tabs__list">
                    
                    <li class="m-tabs__list-item m-tabs__list-item-selected">
                        <a class="m-tabs__tab" href="#details-summary-minimal-this-component-p-html-code-snippet-4">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="m-tabs__panel" id="details-summary-minimal-this-component-p-html-code-snippet-4">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html">&lt;div class="o-summary-minimal"&gt;
  &lt;div class="o-summary-minimal__content"&gt;
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  &lt;/div&gt;

  &lt;button class="o-summary-minimal__btn"&gt;
      &lt;span class="o-summary-minimal__cue-open"&gt;
          Show
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--plus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H9.284V5.42a.792.792 0 1 0-1.583 0V8.8H4.32a.792.792 0 0 0 0 1.584H7.7v3.382a.792.792 0 1 0 1.583 0v-3.382h3.382a.79.79 0 0 0 .792-.791z"></path></svg>
      &lt;/span&gt;
      &lt;span class="o-summary-minimal__cue-close"&gt;
          Hide
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="cf-icon-svg cf-icon-svg--minus-round" viewbox="0 0 17 19"><path d="M16.416 9.583a7.916 7.916 0 1 1-15.833 0 7.916 7.916 0 0 1 15.833 0m-2.958.01a.79.79 0 0 0-.792-.792H4.32a.792.792 0 0 0 0 1.583h8.346a.79.79 0 0 0 .792-.791"></path></svg>
      &lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;</code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
            

        </div>
        
    </section>
    
    

    
    
        <section class="sticky-header u-mb45">

            

            

            

            
        </section>
    

    

    

    

    
        <section class="content-l u-mb45">
            <div class="content-l__col content-l__col-1">
                <div>
                    <section>
                        <h2 id="latest-updates">Latest updates</h2>
                        <div class="content__line--wide content__line u-mb20"></div>
                        <strong>Page last edited:</strong>
                        
                        
                        
                        
                        <a href="https://github.com/cfpb/design-system/commits/main/docs/pages/summaries.md">
                            <time datetime="2026-06-12 17:24:21 -0400">
                                 5:24:21 PM Jun 12, 2026
                            </time>
                        </a>
                    </section>
                </div>
            </div>
        </section>
    

    </section>
</div>

<!-- .content__main --> 

    <div class="o-editor" id="toggle-details">
      <cfpb-button variant="secondary" iconright="lightbulb" title="Show all details">
        Show all details
      </cfpb-button>
    </div>

    

    <div class="o-editor" id="edit-page">
      <cfpb-button href="/design-system/updating-this-website?page=Summaries" iconright="edit" title="Edit this page in Decap CMS">
        Edit page
      </cfpb-button>
    </div>
  
</main>
  <footer class="ds-footer" role="contentinfo">

    <hr>

    <div class="block block--sub ds-footer__content">
        <p>
            We need your help keeping the Design System accurate and up-to-date!
            If you see something wrong or missing,
            <a href="/design-system/updating-this-website/#editing-pages">edit the page</a>.
            If you can’t make those changes yourself,
            <a href="https://github.com/cfpb/design-system/issues/new?assignees=&amp;labels=content&amp;template=content_issues.md&amp;title=Summaries%3A+Add+issue+description">file an issue</a>.
            If you have a substantial change to an existing page, or a new standard you want to add,
            <a href="/design-system/updating-this-website/#creating-new-pages">follow these guidelines</a>.
        </p>

        <p>
            <small><a href="https://github.com/cfpb/design-system"><cfpb-icon name="github-square"></cfpb-icon> Website source code</a></small>
        </p>
    </div>

</footer>
 
    <script type="module" src="/design-system/dist/main.js" charset="utf-8"></script>

    
  </body>
</html>
