@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/elements/abstracts' as *;

:host {
  .a-tagline {
    font-size: math.div(12px, $base-font-size-px) + rem;

    display: grid;
    grid-template-columns: 22px 1fr;
    column-gap: 10px;

    &__text {
      // Needed for browsers with legacy/no grid support (e.g. IE11).
      display: inline-block;
    }

    & cfpb-flag-usa {
      margin-top: 1px;
    }

    &--large {
      font-size: math.div(16px, $base-font-size-px) + rem;

      & cfpb-flag-usa {
        margin-top: 4px;
      }
    }
  }

  .u-nowrap {
    white-space: nowrap;
  }
}
