@use '@cfpb/cfpb-design-system/src/utilities/index' as *;

.a-form-alert {
  margin-top: rem-from-px(15px);
  display: flex;
  align-items: center;
  gap: rem-from-px(5px);

  &__text {
    display: block;
  }
}
