@use 'sass:math';
@use './vars' as *;
@use './vars-breakpoints' as *;
@use './media-queries' as *;

/* ==========================================================================
   Design System
   Base styles
   ========================================================================== */

@mixin heading-1() {
  margin-bottom: math.div(15px, $size-i) + em;
  font-size: math.div($size-i, $base-font-size-px) + em;
  font-weight: 600;
  letter-spacing: inherit;
  line-height: 1.25;
  text-transform: inherit;
}

@mixin heading-2() {
  margin-bottom: math.div(15px, $size-ii) + em;
  font-size: math.div($size-ii, $base-font-size-px) + em;
  font-weight: 600;
  letter-spacing: inherit;
  line-height: 1.25;
  text-transform: inherit;
}

@mixin heading-3() {
  margin-bottom: math.div(15px, $size-iii) + em;
  font-size: math.div($size-iii, $base-font-size-px) + em;
  font-weight: normal;
  letter-spacing: inherit;
  line-height: 1.25;
  text-transform: inherit;
}

@mixin heading-4() {
  margin-bottom: math.div(15px, $size-iv) + em;
  font-size: math.div($size-iv, $base-font-size-px) + em;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: 1.25;
  text-transform: inherit;
}

@mixin heading-5() {
  margin-bottom: math.div(15px, $size-v) + em;
  font-size: math.div($size-v, $base-font-size-px) + em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin heading-6() {
  margin-bottom: math.div(15px, $size-vi) + em;
  font-size: math.div($size-vi, $base-font-size-px) + em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin h1() {
  @include heading-1;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + & {
    margin-top: math.div(60px, $size-i) + em;
  }

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    @include heading-2;

    p + &,
    ul + &,
    ol + &,
    dl + &,
    figure + &,
    img + &,
    table + &,
    blockquote + & {
      margin-top: math.div(45px, $size-ii) + em;
    }
    h2 + &,
    .h2 + &,
    h3 + &,
    .h3 + &,
    h4 + &,
    .h4 + &,
    h5 + &,
    .h5 + &,
    h6 + &,
    .h6 + & {
      margin-top: math.div(30px, $size-ii) + em;
    }
  }
}

@mixin h2() {
  @include heading-2;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + & {
    margin-top: math.div(45px, $size-ii) + em;
  }

  h1 + &,
  .h1 + &,
  h3 + &,
  .h3 + &,
  h4 + &,
  .h4 + &,
  h5 + &,
  .h5 + &,
  h6 + &,
  .h6 + & {
    margin-top: math.div(30px, $size-ii) + em;
  }

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    @include heading-3;

    p + &,
    ul + &,
    ol + &,
    dl + &,
    figure + &,
    img + &,
    table + &,
    blockquote + & {
      margin-top: math.div(30px, $size-iii) + em;
    }
  }
}

@mixin h3() {
  @include heading-3;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + &,
  h1 + &,
  .h1 + &,
  h2 + &,
  .h2 + &,
  h4 + &,
  .h4 + &,
  h5 + &,
  .h5 + &,
  h6 + &,
  .h6 + & {
    margin-top: math.div(30px, $size-iii) + em;
  }

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    @include heading-4;
  }
}

@mixin h4() {
  @include heading-4;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + &,
  h1 + &,
  .h1 + &,
  h2 + &,
  .h2 + &,
  h3 + &,
  .h3 + &,
  h5 + &,
  .h5 + &,
  h6 + &,
  .h6 + & {
    margin-top: math.div(30px, $size-iv) + em;
  }

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    $h4-font-size-on-xs: $base-font-size-px;
    margin-bottom: math.div(10px, $h4-font-size-on-xs) + em;
    font-size: math.div($h4-font-size-on-xs, $base-font-size-px) + em;
    line-height: math.div(18px, $h4-font-size-on-xs);
  }
}

@mixin h5() {
  @include heading-5;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + &,
  h1 + &,
  .h1 + &,
  h2 + &,
  .h2 + &,
  h3 + &,
  .h3 + &,
  h4 + &,
  .h4 + &,
  h6 + &,
  .h6 + & {
    margin-top: math.div(30px, $size-v) + em;
  }
}

@mixin h6() {
  @include heading-6;

  p + &,
  ul + &,
  ol + &,
  dl + &,
  figure + &,
  img + &,
  table + &,
  blockquote + &,
  h1 + &,
  .h1 + &,
  h2 + &,
  .h2 + &,
  h3 + &,
  .h3 + &,
  h4 + &,
  .h4 + &,
  h5 + &,
  .h5 + & {
    margin-top: math.div(30px, $size-vi) + em;
  }
}

@mixin u-lead-paragraph() {
  @include heading-3;

  margin-top: 0;
  margin-bottom: 15px;

  // Mobile only.
  @include respond-to-max($bp-xs-max) {
    // Use the same regular weight but reduce the sizes to h4 size.
    font-size: math.div(18px, $base-font-size-px) + em;
  }
}

// For when you want a heading that's bigger than a normal H1.
@mixin u-superheading() {
  margin-bottom: math.div(20px, $size-xl) + em;
  font-size: math.div($size-xl, $base-font-size-px) + em;
  font-weight: normal;
  line-height: 1.25;
}
