@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/vars-sizing' as *;

@mixin u-text-input-base {
  appearance: none;
  display: inline-block;
  padding: math.div(7px, $base-font-size-px) + em;
  border: 1px solid var(--input-border);
  outline: 0 solid var(--input-border);
  background: var(--input-bg);
  color: var(--input-text);
  box-sizing: border-box;
}
