@use 'sass:math';

/* ==========================================================================
   Design System
   Variables
   ========================================================================== */

//
// Theme variables
//

// Color variables

// body
$text: var(--black);

// a
$link-text: var(--pacific);
$link-underline: var(--pacific);
$link-text-visited: var(--teal);
$link-underline-visited: var(--teal);
$link-text-hover: var(--pacific-dark);
$link-underline-hover: var(--pacific-dark);
$link-text-active: var(--navy);
$link-underline-active: var(--navy);

// table
$table-head-text: $text;
$table-head-bg: var(--gray-5);
$table-border: var(--gray);

// code
$code-text: $text;
$code-bg: var(--gray-5);

// Sizing variables

$base-font-size: 16;
$base-font-size-px: 16px;
$base-line-height-px: 22px;
$base-line-height: math.div($base-line-height-px, $base-font-size-px);
$size-xl: 48px; // Super-size

$size-i: 34px; // h1-size
$size-ii: 26px; // h2-size
$size-iii: 22px; // h3-size
$size-iv: 18px; // h4-size
$size-v: 14px; // h5-size
$size-vi: 12px; // h6-size
$size-code: 13px; // Custom size only for Mono code blocks

// Icon variables

// Icons' SVG viewbox are a consistent 19px (h) x variable (w).
// The height matches the 19px rendered canvas of text set in Source Sans 3
// sized at 16px (19/16 = 1.1875).
$cf-icon-height: 1.1875em;

// Button sizing variables

$btn-font-size: $base-font-size-px;
$btn-border-radius-size: 4px;
$btn-v-padding: 8px;
$btn-h-padding: 14px;

// Grid variables

$grid-wrapper-width: 1230px;
$grid-gutter-width: 30px;
$grid-total-columns: 12;

// Layout variables

// .block
$block-bg: var(--gray-5);
$block-border: var(--gray-40);
$block-border-top: $block-border;
$block-border-right: $block-border;
$block-border-bottom: $block-border;
$block-border-left: $block-border;

// .content__main
$content-main-border: var(--gray-40);

:root {
  // Typography normalization
  --font-adjust-base: 0.517;
  --font-adjust-step: 0.0054;

  /* Derived font-size-adjust-values */
  --font-adjust-h1: calc(
    var(--font-size-adjust-base) + (5 * var(--font-adjust-step))
  );
  --font-adjust-h2: calc(
    var(--font-size-adjust-base) + (4 * var(--font-adjust-step))
  );
  --font-adjust-h3: calc(
    var(--font-size-adjust-base) + (3 * var(--font-adjust-step))
  );
  --font-adjust-h4: calc(
    var(--font-size-adjust-base) + (2 * var(--font-adjust-step))
  );
  --font-adjust-h5: calc(
    var(--font-size-adjust-base) + (1 * var(--font-adjust-step))
  );
  --font-adjust-h6: var(--font-adjust-base);
  --font-adjust-body: var(--font-adjust-base);

  // Form variables

  // .a-text-input
  --input-text-default: var(--black);
  --input-text-disabled-default: var(--gray-dark);
  --input-text-placeholder-default: var(--gray-dark);
  --input-border-default: var(--gray-60); // $input-border
  --input-border-disabled: var(--gray-60);
  --input-border-success: var(--green);
  --input-border-warning: var(--gold);
  --input-border-error: var(--red);
  --input-border-hover-default: var(--pacific); // $input-border-hover
  --input-border-focus-default: var(--pacific); // $input-border-focused
  --input-bg-default: var(--white);
  --input-bg-disabled-default: var(--gray-10);

  // .a-form-alert icons
  --form-alert-icon-color-default: var(--gray);
  --form-alert-icon-color-success: var(--green);
  --form-alert-icon-color-warning: var(--gold);
  --form-alert-icon-color-error: var(--red);

  // .a-select
  --select-border-default: var(--gray-60); // $input-border
  --select-border-width-default: 1px;
  --select-border-error: var(--red);
  --select-border-width-error: 2px;
  --select-border-hover-default: var(--pacific); // $input-border-hover
  --select-border-focus-default: var(--pacific); // $input-border-focused
  --select-bg-disabled-default: var(--gray-10); // $input-bg-disabled
  --select-icon-bg-default: var(--gray-10);
  --select-text-disabled-default: var(--gray-dark); // $input-text-disabled

  // .m-form-field--checkbox .m-form-field--radio
  --choice-border-default: var(--gray-60); // $input-border
  --choice-border-disabled: var(--gray-60);
  --choice-border-success: var(--green); // $input-border-success
  --choice-border-warning: var(--gold); // $input-border-warning
  --choice-border-error: var(--red); // $input-border-error
  --choice-border-hover-default: var(--pacific); // $input-border-hover
  --choice-border-focus-default: var(--pacific); // $input-border-focused
  --choice-outline-focus-default: var(--pacific); // $input-border-focused
  --choice-bg-default: var(--white); // $input-bg
  --choice-bg-disabled: var(--gray-10); // $input-bg-disabled
  --choice-bg-selected-default: var(--pacific); // $input-bg-selected
  --choice-bg-selected-disabled: var(--gray-40);
  --choice-bg-selected-focus-default: var(--pacific);
  --choice-label-disabled-default: var(--gray-dark);
}

// .m-form-field--lg-target
$form-field-input-lg-target-bg: var(--gray-10);
$form-field-input-lg-target-bg-selected: var(--pacific-20);
$form-field-input-lg-target-bg-disabled: var(--gray-20);
$form-field-input-lg-target-border: var(--pacific);

// .a-label__helper
$label-helper: var(--gray-dark);

// .a-range borders
$range-border: var(--gray-40);
$range-border-focused: var(--pacific);

// .a-range backgrounds
$range-bg: var(--gray-10);
$range-bg-track: var(--gray-80);
$range-bg-focused: var(--pacific-20);

// Sizing variables

// .a-select
$select-height: 35px;

// Featured Content Module sizing variables.
$fcm-visual-width: 270px;
$fcm-min-height: 220px;
