@mixin licensed-font($path: '/static/fonts') {
  /* ==========================================================================
   Design System
   Licensed font URLs – for CFPB use only.
   ========================================================================== */

  @if $path {
    @font-face {
      font-family: 'Avenir Next';
      src: url('#{$path}/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2')
        format('woff2');
      font-style: normal;
      font-weight: normal;
      font-display: fallback;
    }

    @font-face {
      font-family: 'Avenir Next';
      src: url('#{$path}/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2')
        format('woff2');
      font-style: normal;
      font-weight: 500;
      font-display: fallback;
    }
    :root {
      --font-stack: 'Avenir Next', arial, sans-serif;
    }
  }
}
