@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.a-form-alert {
  display: flex;
  gap: math.div(5px, $base-font-size-px) + rem;

  .cf-icon-svg {
    color: $input-icon;
    flex: none;
    margin-top: math.div(1px, $base-font-size-px) + rem;
  }

  &__text {
    display: block;
  }

  &--success .cf-icon-svg {
    color: $input-icon-success;
  }

  &--error .cf-icon-svg {
    color: $input-icon-error;
  }

  &--warning .cf-icon-svg {
    color: $input-icon-warning;
  }
}
