@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

.o-form {
  &__group {
    margin-bottom: math.div(30px, legacy.$legacy-base-font-size-px) + em;
  }

  &__fieldset {
    // Overwrite Normalize.
    border: none;
    margin: 0;
    padding: 0;

    .m-form-field + .m-form-field {
      margin-top: math.div(10px, legacy.$legacy-base-font-size-px) + em;
    }
  }
}
