@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

.a-label {
  display: inline-block;

  &__helper {
    color: legacy.$legacy-label-helper;
    font-size: math.div(16px, legacy.$legacy-base-font-size-px) + rem;
    font-weight: normal;

    &--block {
      display: block;

      // Add a gap between the label helper and label.
      margin-top: math.div(10px, legacy.$legacy-size-vi) + em;
    }
  }

  &--heading {
    display: block;

    margin-bottom: math.div(10px, legacy.$legacy-size-iv) + em;

      @include legacy.legacy-heading-4($has-margin-bottom: false);

    // Add a gap between the label helper and label heading
    .a-label__helper--block {
      margin-top: math.div(10px, legacy.$legacy-base-font-size-px) + rem;
    }
  }
}
