@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts/legacy' as legacy;

@mixin u-range-track-styles() {
  height: math.div(11px, legacy.$legacy-base-font-size-px) + rem;
  width: 100%;
  background-color: legacy.$legacy-range-bg-track;
  border: 1px solid legacy.$legacy-range-border;
  border-radius: 8px;
  cursor: pointer;
}

@mixin u-range-thumb-styles() {
  height: math.div(45px, legacy.$legacy-base-font-size-px) + rem;
  width: math.div(45px, legacy.$legacy-base-font-size-px) + rem;
  margin-top: math.div(-18px, legacy.$legacy-base-font-size-px) + rem;
  appearance: none;
  border: 1px solid legacy.$legacy-range-border;
  border-radius: 50%;
  background-color: legacy.$legacy-range-bg;
  cursor: pointer;
}

@mixin u-range-thumb-focus-styles() {
  background-color: legacy.$legacy-range-bg-focused;
  border: 2px solid legacy.$legacy-range-border-focused;
}

.a-range {
  // Reset the browser's default styling.
  appearance: none;

  width: 100%;
  min-height: 49px;

  &::-webkit-slider-runnable-track {
    @include u-range-track-styles;
  }
  &::-moz-range-track {
    @include u-range-track-styles;
  }
  &::-webkit-slider-thumb {
    @include u-range-thumb-styles;
  }
  &::-moz-range-thumb {
    @include u-range-thumb-styles;
  }
  &:focus,
  &.focus {
    box-shadow: none;
    outline: none;

    &::-webkit-slider-thumb {
      @include u-range-thumb-focus-styles;
    }
    &::-moz-range-thumb {
      @include u-range-thumb-focus-styles;
    }
  }
}
