<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Google Tag Manager code -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-WH4L8LB');</script>
  <title>Landing pages - CFPB Design System</title>
  <meta name="description" content="CFPB's design system">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/design-system/dist/css/main.css">
  <script>
      // Confirm availability of JS and remove no-js class from html
      var docElement = document.documentElement;
      docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
  </script>
</head>
<body class="t-variation">
  <!-- Google Tag Manager code -->
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH4L8LB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  <div class="skip-nav">
    <a class="skip-nav_link" href="#main">
        Skip to main content
    </a>
  </div>
  <header role="banner" class="site-header-wrapper">

  <div class="m-global-eyebrow">
    <div class="a-tagline">
        An official website of the United States government
    </div>
</div>


  <div class="site-header">

    <form id="search-form" action="/design-system/search" method="get">
    <label class="u-visually-hidden" for="search-box">Search:</label>
    <input type="text" id="search-box" class="a-text-input" name="searchQuery" placeholder="enter your query">
    <button class="a-btn" type="submit">Search!</button>
</form>


    <h1 class="title">
      <a class="title-link" href="/design-system/">
        <span class="demi">CFPB</span> Design System
      </a>
    </h1>

    <nav class="global-nav" role="navigation">
      <ul class="global-nav_list">
        <li class="nav-list-item">
            <a class="" href="/design-system/getting-started">
            Getting Started
            </a>
        </li>
        <li class="nav-list-item">
            <a class="" href="/design-system/foundation">
            Foundation
            </a>
        </li>
        <li class="nav-list-item">
            <a class="" href="/design-system/components">
            Components
            </a>
        </li>
        <li class="nav-list-item">
            <a class="active" href="/design-system/templates">
            Templates
            </a>
        </li>
      </ul>
    </nav>
  </div> <!-- /.wrapper -->
</header>

  <main class="content content__1-3 content__bleedbar-expandable" id="main" role="main">
  <div class="content_bar"></div>
  <div class="content_wrapper">
    <aside class="content_sidebar
                o-expandable
                o-expandable__padded
                o-expandable__background
                o-expandable__border">
        <button class="o-expandable_header o-expandable_target" title="Expand content">
            <h3 class="h5 o-expandable_header-left o-expandable_label">
                In this section
            </h3>
            <span class="o-expandable_header-right o-expandable_link">
                <span class="o-expandable_cue o-expandable_cue-open">
                    <span class="u-visually-hidden-on-mobile">Show</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm263.1 550.7H549.6v213.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V655.9H236c-27.6 0-50-22.4-50-50s22.4-50 50-50h213.6V342.3c0-27.6 22.4-50 50-50s50 22.4 50 50v213.6h213.6c27.6 0 50 22.4 50 50s-22.5 50-50.1 50z"></path></svg>
                </span>
                <span class="o-expandable_cue o-expandable_cue-close">
                    <span class="u-visually-hidden-on-mobile">Hide</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm263.1 550.7H236c-27.6 0-50-22.4-50-50s22.4-50 50-50h527.1c27.6 0 50 22.4 50 50s-22.4 50-50 50z"></path></svg>
                </span>
            </span>
        </button>
        <div class="o-expandable_content
                    nav-secondary">
            








<ul class="m-list m-list__unstyled">
    
    <li class="m-list_item u-mb15">
        <span class="h5">Web templates</span>
        <ul class="m-list m-list__links">
            
                
            
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/templates/landing-pages">Landing pages</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/templates/sublanding-pages">Sublanding pages</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/templates/browse-pages">Browse pages</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/templates/learn-pages">Learn pages</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/templates/filterable-list-pages">Filterable list pages</a>
                </li>
                
            
                
                <li class="m-list_item">
                    <a class="m-list_link" href="/design-system/templates/document-detail-pages">Document detail pages</a>
                </li>
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
                
            
        </ul>
    </li>
    
</ul>


        </div>
    </aside>
        <section class="content_main">

    <h1 class="component-header u-mb30">
        Landing pages
    </h1>

    
    <ul class="m-list m-list__horizontal u-mb30">
        
        
        <li class="m-list_item">
            <a class="m-list_link" href="#">
                
            </a>
        </li>
        
        
    </ul>
    

    
    <section id="description" class="u-mb30">
        <p>Landing page types provide an overview of a main navigation section and helps users situate themselves within the site and the subject matter. Their main function is to preview the different sub-pages within that section and help users quickly skim section topics and select the category that interests them.</p>

    </section>
    

    
    
    <section class="o-variation_group" id="">

        
        
        <div class="u-mb15"></div>
        

        

        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Landing page with hero</h3>
            </div>
            

            
            <div class="m-variation_description">
                <p><img src="/design-system/images/uploads/landing_top_examplea_2x.jpg" alt="Landing page with hero"></p>

            </div>
            

            <!-- Live code example -->
            

            
            
            
            

            

            
            

            <div class="a-toggle_code">
                <button href="#details-landing-page-with-hero-landing-p-1" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-landing-page-with-hero-landing-p-1" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-landing-page-with-hero-landing-p-1">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-landing-page-with-hero-landing-p-html-code-snippet-1">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-landing-page-with-hero-landing-p-html-code-snippet-1">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html"></code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
        <div class="m-variation">

            
            
            

            
            <div class="m-variation_name">
                <h3>Landing page with text introduction</h3>
            </div>
            

            
            <div class="m-variation_description">
                <p><img src="/design-system/images/uploads/landing_top_exampleb_2x.jpg" alt="Landing page with text introduction"></p>

            </div>
            

            <!-- Live code example -->
            

            
            
            
            

            

            
            

            <div class="a-toggle_code">
                <button href="#details-landing-page-with-text-introduct-2" class="a-btn a-btn__link" data-toggle-details="show">Show details</button>
                <button href="#details-landing-page-with-text-introduct-2" class="a-btn a-btn__link u-hidden" data-toggle-details="hide">Hide details</button>
            </div>

            <div class="govuk-tabs u-hidden" data-module="tabs" id="details-landing-page-with-text-introduct-2">
                <ul class="govuk-tabs__list">
                    
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#details-landing-page-with-text-introduct-html-code-snippet-2">
                            HTML code snippet
                        </a>
                    </li>
                    
                    
                    
                    
                </ul>

                <!-- HTML snippet -->
                
                <section class="govuk-tabs__panel" id="details-landing-page-with-text-introduct-html-code-snippet-2">
                    <div class="variation-code-snippet">
                        <h4 class="variation-code-snippet-title">HTML code snippet</h4>
                        <div class="source-code">
                            <pre><code class="language-html"></code></pre>
                        </div>
                    </div>
                </section>
                

                <!-- Jinja snippet -->
                

                <!-- Implementation details -->
                

                <!-- Specs -->
                

            </div>
<!-- .govuk-tabs -->
            

        </div>
        
    </section>
    
    

    
    
        <section class="sticky-header u-mb45">

            
                <h2 id="use-cases">Use cases</h2>
                <div class="content_line content_line__wide u-mb20"></div>
                <p>
                </p>
<h5 id="when-to-use">When to use</h5>

<ul>
  <li>The landing page template should only be used for the top-level page under each main navigation section on the site to help users navigate to the various sub-sections within the navigation vertical. Examples: <a href="https://www.consumerfinance.gov/data-research/">Data &amp; research overview</a>, <a href="https://www.consumerfinance.gov/policy-compliance/">Policy &amp; compliance overview</a>.</li>
  <li>This template may also be used for campaign pages.</li>
</ul>

<h5 id="when-other-options-are-better">When other options are better</h5>

<ul>
  <li>When a new page is needed within a navigation section, rather than at the top-level.</li>
  <li>When page content includes paragraph copy or more detailed definitions or explanations.</li>
</ul>

                
            

            
                <h2 id="content-guidelines">Content guidelines</h2>
                <div class="content_line content_line__wide u-mb20"></div>
                <p>
                </p>
<ul>
  <li>Generally, content components should work together to provide an overview of the information organized below this page or about the campaign. Give users clear next steps and calls to actions so they can quickly decide what content is relevant to them and where they should go next.</li>
  <li>This page should be written and organized in a way that aids the user in skimming and quickly navigating to lower-level pages.</li>
  <li>Page titles are sentence case and use the word “and” instead of “&amp;”. (Note that navigation labels follow a different style.)</li>
  <li>Email signup component should only be used on campaign landing pages. This component is not used on Landing pages.</li>
</ul>

<h5 id="area-1-introduction">Area 1: Introduction</h5>

<ul>
  <li>Choose between a <a href="/design-system/components/heroes">hero</a> or <a href="/design-system/components/introductions">text introduction</a> for this area.</li>
</ul>

<h5 id="area-2-main-content">Area 2: Main content</h5>

<ul>
  <li>Must contain at least 1 component.</li>
  <li>Recommended hierarchy of components: <a href="/design-system/components/info-unit-groups-image-and-text">image &amp; text</a> components, <a href="/design-system/components/wells">gray well</a>, and <a href="/design-system/components/info-unit-groups-link-blobs">half width link blobs</a>.</li>
  <li>The <a href="/design-system/components/wells">gray well</a> component should not be used at the top of this area if the introduction area contains a hero.</li>
</ul>

<h5 id="area-3-sidebar">Area 3: Sidebar</h5>

<ul>
  <li>Must contain at least 1 component.</li>
  <li>If using both static and dynamic content, preference for dynamic content to appear above static content.</li>
</ul>

<h4 id="behavior">Behavior</h4>

<p>Below the 901 pixel breakpoint, the sidebar stacks below the main content area.</p>

<h5 id="breakpoints-901-pixels-or-more">Breakpoints 901 pixels or more</h5>

<p><img src="/design-system/images/uploads/landing_behavior_desktop_2x.jpg" alt="Breakpoints 901+"></p>

<h5 id="breakpoints-900-pixels-or-less">Breakpoints 900 pixels or less</h5>

<p><img src="/design-system/images/uploads/landing_behavior_mobile_2x.jpg" alt="Breakpoints 900 and less"></p>

                
            

            

            
        </section>
    

    

    

    <div class="content-l u-mb45">
        
        <div class="content-l_col content-l_col-1-2">
            <div>
                <section>
                    <h2 id="related-items">Related Items</h2>
                    <div class="content_line__wide content_line content_line u-mb20"></div>
                    <ul>
  <li>Text introduction</li>
  <li>50/50 image &amp; text</li>
  <li>25/75 image &amp; text</li>
  <li>Half width link blob</li>
  <li>Gray well</li>
  <li>Related posts / Related links</li>
  <li>Email signup</li>
</ul>

                </section>
            </div>
        </div>
        
    </div>
<!-- .content-l -->

</section><!-- .content_main -->

        <div class="o-editor_link" id="edit-page">
            <a class="a-btn" href="/design-system/admin/#/collections/templates/entries/1-landing-pages" title="Edit this page in Netlify CMS">
                <span class="a-btn_text">Edit this page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 833.4 1200" class="cf-icon-svg"><path d="M233 203.1c-27.2-27.2-71.8-27.2-99 0L20.4 316.7c-27.2 27.2-27.2 71.8 0 99l89.7 89.7 212.7-212.7-89.8-89.6zM832.6 992.7l-48.6-216c-3.4-15.3-14.9-36.5-26-48.6l-1.8-1.8-121.8-121.9-110.6-110.6-165.7-165.7-54.8 54.8 400 400 21.4-21.4c5.3 6.4 11.9 18.9 13.5 25.6l21.4 95.2-60 60-95.2-21.4c-6.7-1.5-19.2-8.2-25.6-13.5l89.2-89.2-400-400-122.6 122.6 165.7 165.7 110.6 110.6 121.8 121.8 1.8 1.8c12.1 11.1 33.3 22.6 48.6 26l215.9 48.6c2.2.5 4.3.7 6.2.7 12.6.1 19.8-9.4 16.6-23.3z"></path></svg></span>
            </a>
        </div>
        <div class="o-editor_link" id="add-page">
            <a class="a-btn" href="/design-system/admin/#/collections/templates/new" title="Add a new Design System page in Netlify CMS">
                <span class="a-btn_text">Add new page</span>
                <span class="a-btn_icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 784.5 1200" class="cf-icon-svg"><path d="M719.5 515H457.3V252.7c0-35.9-29.1-65-65-65s-65 29.1-65 65V515H65c-35.9 0-65 29.1-65 65s29.1 65 65 65h262.3v262.3c0 35.9 29.1 65 65 65s65-29.1 65-65V645h262.3c35.9 0 65-29.1 65-65s-29.2-65-65.1-65z"></path></svg></span>
            </a>
        </div>
  </div>
</main>

  <footer class="footer" role="contentinfo">

    <hr>

    
    <div class="block block__sub">
        <p>
            <small>
                <strong>Help improve this page:</strong>
                <a href="https://github.com/cfpb/design-system/issues/new?assignees=&amp;labels=content%2C+help+wanted&amp;template=component-needs-content-edits.md&amp;title=Suggestions+for%3A+%22Landing%20pages%22">
                    File an issue on GitHub.
                </a>
            </small>
        </p>

        <p>
            <small>
                <strong>Page last edited:</strong>
                
                
                <a href="https://github.com/cfpb/design-system/commits/master/docs/templates/1-landing-pages.md">
                    <time datetime="2020-05-12 11:30:07 -0400">
                        11:30:07 AM May 12, 2020
                    </time>
                </a>
            </small>
        </p>
    </div>
    

</footer>

  <script src="/design-system/dist/js/main.js" charset="utf-8"></script>
</body>
</html>
