/* ==========================================================================
   Main content
   ========================================================================== */

.content_main,
.content_intro {
   dd,
   dt,
   h3,
   h4,
   h5,
   h6,
   li,
   p,
   label {
       max-width: inherit;
   }
}

.section-image {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 1.4em;
}

.icon-table {
    width: 100%;

    td:nth-child( 1 ),
    td:nth-child( 2 ) {
        font-size: unit( 32px / @base-font-size-px, em );
        text-align: center;
        padding: unit( 10px / 32px, em );
        width: 15%;
    }

    td:nth-child( 1 ) {
        width: 8%;
    }

    td:nth-child( 2 ) {
        width: 20%;
    }

    td:nth-child( 3 ) {
        width: 26%;
    }

    td:nth-child( 4 ) {
        width: 46%;
    }
}

/* Mobile first means all content boxes are full width */

.content-25,
.content-75,
.content-33,
.content-67,
.content-50 {
    padding-bottom: 1em;
    padding-top: 1em;
}

.content-25,
.content-75,
.content-33,
.content-67 {
.grid_column(12);
}

/* Media Queries
   ========================================================================== */

/* Small tablet (600px) */
@media only screen and (min-width: 37.5em) {

    /* Inner content - nested grid inside content */
    .content-25 {
      .grid_column(3);
    }

    .content-75 {
      .grid_column(9);
    }

    /* Inner content - nested grid inside content */
    .content-33 {
      .grid_column(4);
    }

    .content-67 {
      .grid_column(8);
    }

    /* Inner content - nested grid inside content */
    .content-50 {
      .grid_column(6);
    }

    //Nested colums don't work yet, so pull the first col back
    .content-first {
      border-left: 0;
    }

    .content-last {
      border-right: 0;
    }

    /* Rules between rows of content */
    .content-row-rule {
      border-bottom: 1px solid @gray-10;
      margin-bottom: 1em;
    }

}
