#search-results {
    list-style: none;
}

#search-results li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dotted @gray-20;
}

#search-results li:first-child {
    border-top: none;
}
