#search-results {
  list-style: none;
  padding-left: 0;
}

#search-results li {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted var(--gray-20);
}

#search-results li:first-child {
  border-top: none;
}
