/* ==========================================================================
   Secondary Nav
   Creates an expandable show/hide toggle nav on small screens, and a regular left sidebar on large screens
   Use the following classes on the sidebar container element to add this styling:
        .content_sidebar
        .o-expandable
        .o-expandable__padded
        .o-expandable__background
    And use these for child div where the navigation links are:
        .o-expandable_content
        .nav-secondary
   ========================================================================== */

.content_sidebar {
    &.o-expandable {

        padding: unit( 7.5px / @base-font-size-px, em ) 0px 0px;

        .o-expandable_header {
            .respond-to-min(@bp-med-min, {
                .u-visually-hidden();
            });
        }

        .o-expandable_content {
            .respond-to-min(@bp-med-min, {
                margin-top: unit( 30px / @base-font-size-px, em );
                padding-left: 0;
            });
        }

        .o-expandable_content__collapsed {
            .respond-to-min(@bp-med-min, {
                max-height: initial !important;
                overflow: visible;
                display: block;
            });
        }
    }

    &.o-expandable__padded {
        .o-expandable_content {
            &:before {
                .respond-to-min(@bp-med-min, {
                    border: none;
                });
            }
        }
    }

    &.o-expandable__background {
        .respond-to-min(@bp-med-min, {
            background: transparent;
        });
    }

    .m-list_item__tertiary {
        margin-left: unit( 20px / @base-font-size-px, em );
    }

    .m-list_link {
        border: none;

        &:visited {
            color: @link-text;
        }

        &:hover {
            border-bottom: 1px solid @link-underline-active;
            color: @link-text-active;
        }
    }
}


