/* ==========================================================================
   Secondary Nav
   ========================================================================== */

.content_sidebar {
    &.o-expandable {

        padding: unit( 7.5px / @base-font-size-px, em ) 0px 0px;

        .o-expandable_header {
            .respond-to-min(901px, {
                .u-visually-hidden();
            });
        }
        .o-expandable_content__collapsed {
            .respond-to-min(901px, {
                max-height: initial !important;
                overflow: visible;
            });
        }
    }

    &.o-expandable__padded {

    }

}