
// All screen sizes.
.m-tabs {

    &_list {
        border-top: 1px solid @gray;
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
    }

    &_list-item {
        .heading-5();
        border-bottom: 0;
        margin-bottom: 0;
        margin-left: 0;

        &:first-child {
            .m-tabs_tab {
                padding-left: 2rem;
            }
        }

        &-selected {
            a {
                color: @black;
                border-bottom: 5px solid @pacific;
                &:hover {
                    border-bottom: 5px solid @pacific;
                }
            }
        }
    }

    &_tab {
        border: 0;
        color: @gray;
        display: block;
        margin-right: 5px;
        padding: 1rem 1rem calc( 1rem - 5px );
        text-align: center;

        &:focus {
            outline: 1px dotted @pacific;
            outline-offset: 3px;
        }

        &:hover {
            background-color: @gray-5;
            border-bottom: 2px solid @gray-5;
        }

        &:active {
            color: @black;
        }

        &:focus {
            color: @black;
        }

        &[aria-current="true"] {
            color: @black;
            text-decoration: none;
        }

        &-selected:focus {
            background-color: transparent;
        }
    }

    &_panel {
        background-color: @gray-5;
        margin-bottom: 30px;
    }
}

.variation-code-snippet-title,
.variation-jinja-code-snippet-title,
.variation-implementation-title,
.variation-specs-title {
    background-color: @white;
    border-bottom: 1px solid @gray;
    margin: 0;
    padding: 20px 40px 7px;
}

// Mobile view.
.respond-to-max( @bp-sm-max, {
    .m-tabs_panel {
        &.u-hidden {
            display: block !important;
        }
    }
} );

// Desktop view.
.respond-to-min( @bp-med-min, {
    .m-tabs_list {
        display: flex;
    }

    .m-tabs_panel {
        border-top: 1px solid @gray;
        border-bottom: 1px solid @gray-40;
        margin: -3px 0 50px;
    }

    .variation-code-snippet-title,
    .variation-jinja-code-snippet-title,
    .variation-implementation-title,
    .variation-specs-title {
        .u-visually-hidden();
    }

} );
