// Global design system styles
@use '../packages/cfpb-design-system/src/base' as *;

@include licensed-font('../docs/fonts');

#storybook-docs pre {
  background-color: #2b2b2b;
  color: white;
  line-height: 22px;
}
