<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="{{ site.description }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>{{ page.title }}</h1>

  {% include status.html %}

  <section id="intro">
    {{ page.intro }}
  </section>

  <ul>
    <li><a href="#variations">Variations</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#accessibility">Accessibility</a></li>
    <li><a href="#research">Research</a></li>
  </ul>

  {% capture variations %}{{ page.variations | markdownify }}{% endcapture %}
  {% capture variations_code %}{% include_relative {{ page.title }}/src/{{ page.title }}.example.html %}{% endcapture %}
  {% include variations.html %}

  {% capture usage %}{{ page.usage | markdownify }}{% endcapture %}
  {% include usage.html %}

  {% capture accessibility %}{{ page.accessibility | markdownify }}{% endcapture %}
  {% include accessibility.html %}

  {% capture research %}{{ page.research | markdownify }}{% endcapture %}
  {% include research.html %}

  <script src="{{ site.baseurl }}/dist/design-system.js" charset="utf-8"></script>

</body>
</html>
