---
layout: default
---
<div class="wrapper">
  {% include sidebar.html %}
  <section id="content" class="content">
    <main role="main">

      <h1>{{ page.title }}</h1>

      {% include status.html %}

      {% capture intro %}{{ page.intro | markdownify }}{% endcapture %}
      {% include intro.html %}

      {% for variation in page.variations %}
        {{ variation.variation | markdownify }}
      {% endfor %}

      {% capture usage %}{{ page.usage | markdownify }}{% endcapture %}
      {% include usage.html %}

      {% capture accessibility %}{{ page.accessibility | markdownify }}{% endcapture %}
      {% include accessibility.html %}

      {% capture research %}{{ page.research | markdownify }}{% endcapture %}
      {% include research.html %}

    </main>
  </section>
</div><!-- /.wrap -->
