<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="{{ site.description }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cfpb.github.io/design-manual/static/css/main.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/dist/design-system.css">
</head>
<body>

  {{ content }}

  <script src="{{ site.baseurl }}/dist/design-system.js" charset="utf-8"></script>

</body>
</html>
