.m-meta-header {
  padding-bottom: unit((10px / @base-font-size-px), em);
  grid-area: header;

  // Mobile size.
  .respond-to-max( @bp-xs-max, {
    display: grid;

    grid-template-areas:
    'date'
    'category';

    .m-meta-header_left {
      display: block;

      margin-bottom: unit( (5px / @base-font-size-px), em );
      grid-area: category;

      .m-meta-header_separator {
        display: none;
      }
    }

    .m-meta-header_right {
      display: block;
      grid-area: date;
    }
  } );

  // Desktop and tablet size.
  .respond-to-min( @bp-sm-min, {
    .a-date {
      line-height: 1.35;
      vertical-align: bottom;
    }
  } );

  &_left,
  &_right {
    display: inline-block;
  }

  &_left {
    .heading-4();
    line-height: unit((24px / 18px));

    .m-meta-header_separator {
      padding-left: 0.25em;
      padding-right: 0.25em;
    }
  }

  &_right {
    line-height: 1.5;

    .a-date {
      line-height: unit((24px / 14px));
    }
  }
}
