@meta-header-item-gap: 21px;

.m-meta-header {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  row-gap: unit((10px / @base-font-size-px), rem);
  column-gap: unit((@meta-header-item-gap / @base-font-size-px), rem);
  width: fit-content;
  padding-bottom: unit((10px / @base-font-size-px), rem);
  // Dividers are to the left of content, so this crops the unneeded 1st one.
  overflow: hidden;

  &_item-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: unit((@meta-header-item-gap / @base-font-size-px), rem);
  }

  &_item {
    // Use grid to indent the text from the icon when it wraps.
    display: grid;
    grid-template-columns: 0 auto 1fr;
    row-gap: unit((5px / @base-font-size-px), rem);

    .h4();
    // Mobile size.
    .respond-to-max( @bp-xs-max, {
      // Override h4 bottom margin at mobile size.
      margin-bottom: unit( ( 5px / @base-font-size-px ), rem );
    });

    text-wrap: balance;
    margin-bottom: 0;

    .cf-icon-svg {
      margin-right: unit((5px / @base-font-size-px), rem);
    }

    // Create the divider.
    &::before {
      content: '|';
      margin-left: unit((-13px / @base-font-size-px), rem);
    }

    // Adjustments to default date position.
    .a-date {
      font-size: unit((14px / @base-font-size-px), rem);
      line-height: unit((24px / 14px));
      margin-bottom: 0;
    }
  }

  // Desktop and tablet size.
  .respond-to-min( @bp-sm-min, {
    flex-direction: row;
  } );
}
