.m-meta-header {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  gap: 5px;
  width: fit-content;
  padding-bottom: unit((10px / @base-font-size-px), rem);
  // Dividers are to the left of content, so this crops the unneeded 1st one.
  overflow: hidden;

  &_item-group {
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    // Use grid to indent the text from the icon when it wraps.
    display: grid;
    grid-template-columns: 0 auto 1fr;
    gap: 2px;

    .h4();
    text-wrap: balance;
    margin-bottom: 0;
    margin-right: 18px;
    // Negate first gap.
    margin-left: -2px;

    &:last-child {
      margin-right: 15px;
    }

    // Create the divider.
    &::before {
      content: '|';
      margin-right: 6px;
      margin-left: -10px;
    }

    // Adjustments to default date position.
    .a-date {
      margin-top: 2px;
      margin-bottom: 0;
    }
  }
  // Desktop and tablet size.
  .respond-to-min( @bp-sm-min, {
    flex-direction: row;
  } );
}
