name: Build Design Tokens

on: 
  push:
    paths:
      - 'packages/cfpb-design-system/src/tokens/**'
  pull_request:
    branches:
      - main
    paths: 
      - 'packages/cfpb-design-system/src/tokens/**'

jobs:
  grab_tokens:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install dependencies
        run: npm install style-dictionary --force # Add other dependencies if needed

      - name: Build tokens
        run: npx style-dictionary build --config ./style-dictionary.config.js

  commit_changes:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    needs: grab_tokens

    steps:
      - name: Auto commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          file_pattern: 'packages/cfpb-design-system/src/elements/*.css'
          commit_message: "Automated commit of Style Dictionary translated JSON token files to CSS done by GH action."
          branch: ${{ github.ref_name }}
          commit_options: '-a'