name: Build Design Tokens

on: push

jobs:
  build_tokens:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build tokens
        run: npx style-dictionary build --config ./style-dictionary.config.js