name: Build Design Tokens

on: push

jobs:
  build_tokens:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Shared setup
        uses:  ./.github/actions/shared-action-setup

      - name: Yarn lockfile update
        run: yarn install

      - name: Install dependencies
        run: npm install style-dictionary --force # Add other dependencies if needed

      - name: Build tokens
        run: yarn style-dictionary build --config ./style-dictionary.config.js