name: Deploy PR preview
concurrency: preview-${{ github.ref }}
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

env:
  PREVIEW_BRANCH: gh-pages

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Shared setup
        uses:  ./.github/actions/shared-action-setup

      - uses: rossjrw/pr-preview-action@v1
        id: preview-step
        with:
          source-dir: ./packages/cfpb-design-system/dist/
          preview-branch: ${{ env.PREVIEW_BRANCH }}
          comment: false
          umbrella-dir: ./packages/cfpb-design-system/pr-previews/
          